[2016-01-29 08:54] Svempan commented on #329
Bra! Kan vi få till samma lösning för "Viktiga meddelanden" (och sektionsmeddelanden)?. Jag har lagt ut ett nu i TEST.

[2016-02-04 10:02] Svempan commented on #329
Testade att byta adress för Påverkansytan till "/miljo" men det slår inte igenom?

[2016-02-05 14:09] nikjon76 commented on #329
Kan nu se att det finns två typer av Alias. Ena alias stöder korta adresser medans den andra inte gör det. Förmodar att detta är ett arv av tidigare versioner av SV då den äldre version stöder korta adresser default medans den nyare där man har valet att kryssa i korta adresser inte får genomslag av denna funktionalitet. Tyvärr går det inte att skapa alias som har stöd för korta adresser men det g

[2016-02-05 14:49] olajoh1 commented on #329
Är det idé att du tar frågan till SV?

[2016-02-11 12:40] olajoh1 opened #336 "Kontaktsboksredaktör ska kunna redigera andras bilder"

[2016-02-12 12:32] Svempan opened #337 "Dekorationen "Box" på Komin till malmo.se"
Av någon outgrundlig anledning så blev inte dekorationen "Box" införd på malmo.se i höstas. Börja med TEST. Därefter tar vi PROD.
@olajoh1

[2016-02-12 12:46] olajoh1 commented on #321
Fungerar fortfarande inte i IE på www.test.malmo.se

[2016-02-12 14:59] olajoh1 commented on #321
Fungerar fortfarande inte i IE på www.test.malmo.se

[2016-02-25 13:35] nikjon76 commented on #321
Ola, kan du se om det kommit in några synpunkter från 25/02 'Test IE 11.0.9'
Fann ytterligare några saker som satte käppar i hjulet för IE

[2016-02-25 13:51] olajoh1 commented on #321
[cid:image001.png@01D16FDB.F961EB40]

Från: Niklas Jönsson [mailto:notifications@github.com]
Skickat: den 25 februari 2016 14:36
Till: malmostad/sitevision_assets
Kopia: Ola Johansson
Ämne: Re: [sitevision_assets] Synpunkter (#321)

Ola, kan du se om det kommit in några synpunkter från 25/02 'Test IE 11.0.9'
Fann ytterligare några saker som satte käppar i hjulet för IE

—
Reply to this email direc

[2016-02-25 13:52] olajoh1 commented on #321
Funkar i IE, FFoch Chrome

[2016-02-26 13:08] olajoh1 commented on #329
Inväntar uppgradering till 4.1

[2016-03-10 14:25] nikjon76 commented on #321
Synpunkter är nu driftsatt i produktion malmo.se

[2016-03-10 14:28] nikjon76 commented on #335
Webbvideo-inline är nu driftsatt i test miljön test.malmo.se.
Har lagt till testmoduler på sidan:
http://www.test.malmo.se/4.51821d07143bab87ba7b6fc.html

[2016-03-10 15:16] olajoh1 commented on #321
Gott, vill du lägga på ändringen på vårt intranät också. Vi börjar med komin.test.malmo.se

[2016-03-11 11:05] olajoh1 commented on #335
ok att driftsätta på intranät och malmo.se

[2016-03-18 14:26] olajoh1 commented on #321
Ska finnas två metadata som kopplas till synpunkter, Mottagare (synpunkter på sidan) saknas.

[2016-03-23 07:47] olajoh1 commented on #335
Funkar inte i IE  11
http://malmo.se/Kommun--politik/Sa-arbetar-vi-med.../Det-digitala-Malmo.html

[2016-04-04 09:49] olajoh1 opened #338 "Länk till funktionskontakter har kraschat på Intanätet - Komin"
Exempel:
https://komin.malmo.se/Forvaltningar/Sociala-resursforvaltningen/Overformyndararenden.html

![funktionskontakt_1](https://cloud.githubusercontent.com/assets/6176181/14244425/516bb51e-fa5b-11e5-8f6e-a0c10ca30e02.JPG)

[2016-04-14 06:33] olajoh1 opened #339 "Sök på intranätet och malmo.se indexerar meny och sidfot"
Vår sökmotor indexerar meny och sidfot på intranätet. Vill du kontrollera att förutsättningarna enligt Siteseeker är uppfyllda.

---

Om SiteSeeker inte själv lyckas identifiera sidfoten som navigationsavsnitt så är den bästa och snabbaste lösningen att lägga
sidfoten inom ett  html-kod för sidfot läggs här </--eri-no-index--> blocket

Detta tvingar SiteSeeker att inte indexera upp det markerade i

[2016-04-20 08:37] nikjon76 commented on #321
Synpunkter är nu driftsatt i komin.se

[2016-05-03 15:05] olajoh1 opened #340 "Uppdatering kontaktformulär"
I kontaktformuläret för komin ska epostadress göras obligatoriskt. OBS detta gäller ej externwebben.

[2016-05-04 09:29] nikjon76 commented on #339
Har nu lagt till skript på komin.test.malmo.se som uppdaterar Menyer och Sidhuvud/sidfot med identifierare för att inte indexeras i SiteSeeker.

[2016-05-04 10:46] olajoh1 commented on #339
ok

[2016-05-10 06:31] olajoh1 opened #341 "Länkningar i sidfoten för amlmo.se"
Telefonnummer (tel:) och email (mailto:)ska länkas i sidfoten för malmo.se.

[2016-05-13 06:42] #321 closed

[2016-05-13 08:33] nikjon76 commented on #339
Nu är komin.se uppdaterad med skript för att ta bort indexering av meny och sidhuvud/sidfot

[2016-05-13 08:57] olajoh1 commented on #339
Ok, startar omindexering.

[2016-05-13 11:18] Svempan commented on #337
Här är manual för Intranätet. Tror det klarnar efter du läst den.
Detta vill vi även ha på malmo.se. Börja med Prod.
[Box.docx](https://github.com/malmostad/sitevision_assets/files/263084/Box.docx)

[2016-05-20 09:25] Svempan opened #342 "Bugg i kontaktrutan"
En ny bugg har dykt upp i kontaktrutan. I fallet nedan finns inte stadsdelen Innerstaden som val i stadsdelsväljaren.
![innerstaden_saknas](https://cloud.githubusercontent.com/assets/7701048/15423320/3e938dcc-1e7d-11e6-8247-94bbacba0906.jpg)

Denna sida:
http://malmo.se/editor/index.jsp?objectId=4.5d8108001222c393c0080003530

@olajoh1

[2016-06-17 07:37] Svempan opened #343 "Fritext i kontaktruta ärvs inte"
Det verkar som att fritexten inte följer med när man väljer "Ärv ovanifrån".
Exempel:
http://malmo.se/Forskola--utbildning/Grundskola/Grundskolor-och-forskoleklass/Att-valja-skola.html Fritext: ” Har du frågor, kontakta oss gärna.
@olajoh1

[2016-06-29 07:47] susjon11 commented on #328
Mårten tittar på det

[2016-07-06 11:44] martent commented on #328
Jag har gjort en ändring i Global Assets för detta.

@nikjon76, följande måste göras i Sitevision och `sitevision_assets` för att formateringen ska bli korrekt där:

* Ta bort den tillfälliga fixen i 158b4182523be15e8a6a4adf374aa4a8b91f9ee3
* Lägg `h2` i vcard-blocket innan `ìmg`.
* Lägg till en override i `sitevision_assets` för att få `h2` i `.vcard` i fetstil (`SiteVision.css` selectorn `a.body

[2016-09-09 15:39] nikjon76 commented on #339
På grund av att Sitevision html element gör förskjutningar i mallarna när ’ ’ inkluderas  och därmed förändrar utformningen av sidorna bör detta äga rum vid tex uppgradering till ny Sitevision version då mallarna måste ses över.
Det går tyvärr inte att läsa in markup kommentarerna via Javascript.  avsnitt måste finnas i den statiska HTML:en och får
inte renderas med hjälp av JavaScript. Detta pga

[2016-09-15 08:58] nikjon76 commented on #323
Kontakter hämtas från MS webbapp som kallas för kontaktboken genom ett REST-API. Dokumentation för detta API finns här:
https://github.com/malmostad/intranet-dashboard/wiki/Contacts-API-v1

Efter en uppdatering till Sitevision 4 vänder en metoden på svaret och länken som skapas för att utvisa kontaktrutan läser istället in hela den aktuella HTML sidan.  Istället för att använda dynamisk data i fun

[2016-09-15 11:22] nikjon76 commented on #338
Denna del av portlet har inte ändrats och felet kommer med största sannolikhet från en differens i APIet. Även länkar bör ses över då sidor kan vara borttagna och resultatet inte ger korrekt utfall.

**contactForm.vm**
$(document).ready(function() {
$("body").addClass("config");
	$('#cn').autocomplete({
	            serviceUrl:'**$renderSoloURL'**,
		    minChars:4,
		    delimiter: /(,|;)\s*/, //

[2016-09-15 15:59] nikjon76 commented on #342
Denna del av portlet har inte justerats och alla alternativ finns kval i koden. För tillfället utvisas inga stadsområden via dropdown när tex. Winnie Nilsson adderas till listan. Vad finns det för fler beroenden gällande stadsområden.

**Java portlet**
        this.areas = new LinkedHashMap<String,String>();
        areas.put("", "Välj stadsområde");
        areas.put("NORR", "Norr");
        area

[2016-09-16 07:08] nikjon76 commented on #343
Funktionen 'Ärv ovanifrån' ser ut att fungera men den har inget att ärva och därför utvisas inget innehåll.

[2016-09-16 07:47] olajoh1 commented on #342
ok

[2016-09-16 07:47] #342 closed

[2016-09-16 08:04] olajoh1 commented on #338
Mårten, vill du göra en bedöming

[2016-09-16 08:06] olajoh1 commented on #339
Mårten, vill du göra en bedömning

[2016-09-16 08:11] martent commented on #339
@jesperbylund fördelar alla tickets i nuläget, nya som gamla.

[2016-09-16 08:11] martent commented on #338
@jesperbylund fördelar alla tickets i nuläget, nya som gamla.

[2016-09-16 13:49] nikjon76 commented on #337
Varken i komin-test eller komin kan jag finna Box dekorationen. Ser att funktionen finns då den är applicerad på vissa sidor. När jag följer instruktionerna i Box.docx får jag endast upp dekorationer för: Huvudbild, Sekundärbild, Fokusyta- info, Fokusyta- agera, Tabell, Läs mer, Faktaruta, Old, Old...

Hur kommer jag åt Box dekorationen?

[2016-09-19 10:08] martent commented on #338
Vare sig kontaktkorten *Avdelningen för överförmyndarärenden* eller *Avdelningen för livsmedelskontroll* har någon Hemsida ifylld i funktionskontakternas kort.

Man verkar se det i Kontaktrutans redigeringsgränssnitt i SV genom att de etiketterna är kursiverade om det inte finns någon data ifylld i källan, dvs. administrationen av Funktionskontakter. Kontaktbokens API:et kommunicerar vilka fält so

[2016-09-21 11:30] Svempan commented on #337
Ser att man bytt namn på layouten. Heter "Fakta" och "Läs mer". Har samma funktion men namnsättningen ska göra det lättare för redaktörerna att förstå. Ska vara samma på malmo.se alltså.

[2016-09-23 15:02] martent opened #344 "Tweaks in test for new copy from prod"
A new copy has been taken from prod to komin-test. Tweaks needs to be done to make it a test environment:

1. Redirect from start page to dashboard-test (and not prod)
1. Enable the "Testversion" stripe as in malmo.se-test.
1. Change links to Global Assets from `/v4/` to `/v4-staging/`

[2016-10-12 10:40] martent commented on #344
I fixed this. There will soon be more occasions to teach the suppliers what to do after a copy of SV from prod to test is made.

cc: @magnivar

[2016-10-12 10:40] #344 closed

[2016-10-17 12:24] Svempan opened #345 "Wikin-kontaktboken "minns inte" inloggning"
Om man från nytt webbläsarfönster går direkt till:
https://webapps09.malmo.se/wiki/Funktionskontakter och där klickar på länken:
"Gå direkt till: https://webapps06.malmo.se/dashboard/group_contacts"
Då får man meddelande "Du saknar behörighet till detta"
Om man däremot går via dashboarden så funkar det dock.

[2016-10-18 11:13] Svempan opened #346 "Kontaktrutan på Komin funkar inte för funktionskontakter"
Det verkar som att personliga kontakter med Förnamn Efternamn funkar att klicka på och skickar besökaren till rätt sida i kontaktboken. Detta funkar dock inte med funktionskontakter - då får man en 404-sida.
@elilun14

[2016-10-19 10:09] martent commented on #346
Eventuellt relaterad till #338

[2016-10-25 10:51] martent opened #347 "Testning av menyn på menysidor"
@tomasrobertsson på Bouvet har ändrat i scriptmodulen för menyn på menysidor (startsidor) så att den inte genererar så mycket felmeddelande.

Den är utlagd i test och ska testas av innan de lägger den i prod. @magnivar ser till att den blir testad och låter @Svempan verifiera, även hantering av metadata för den så att de fungerar som det ska (eller andra administrationsgrepp). Produktionssättning

[2016-10-25 11:02] martent opened #348 "Fellänkade start-banners"
I den hälsocheck som Bouvet gör av malmo.se har @tomasrobertsson upptäkt att en del startbanners är fellänkade, länken som ligger i metadata. Han kollar om SV:s länkkontroll rapporterar detta så att det går att fixa redaktionell utifrån en länkkontroll. Lägg in dina slutsatser i en kommentar i denna ticketen, @tomasrobertsson.

@Svempan och kanske @olajoh1  måste involveras kring hur länkkontrolle

[2016-10-25 11:21] martent opened #349 "Proxymoduler, anpassa meddelande"
Gå igenom proxyportlets och lägg in ett humant felmeddelande istället för det tekniska som kommer om källtjänsten inte går att nå.

@tomasrobertsson ger ett förslag på text som @Svempan godkänner/justerar.

@magnivar håller i aktiviteten.

Aktiviteten ingår som en del i den hälsocheck Bouvet nu gör.

[2016-10-25 14:04] olajoh1 opened #350 "Scriptning i SV - filer"
Vilka möjligheter finns det att scripta bort ej upplänkade filer i SV?

[2016-10-25 14:54] tomasrobertsson commented on #350
Det är något ni får ta med Sitevision. De kan eventuellt ta fram en rapport över vilka filer som inte används. Det är inget som vi på Bouvet kan hjälpa er med.
Sitevision ger er INTE några verktyg för att radera resurser då, som de säger, det garanterat kommer gå fel i något fall.

[2016-10-27 06:32] olajoh1 commented on #350
Tack. Vi behöver en rapport för resp . web som visar vilka filer och bilder som ej är upplänkade. Rappporterna ska sorteras på url:er.

[2016-10-27 06:35] tomasrobertsson commented on #350
Önskar ni att jag tar kontakt med Sitevision för att se vad de kan erbjuda? Som sagt kan de eventuellt hjälpa er med detta, säkert kan jag inte veta utan att prata med dem.

[2016-10-27 06:51] magnivar commented on #346
Dubblett till #338

[2016-10-27 06:51] #346 closed

[2016-10-28 07:57] elilun14 opened #351 "Kan ej söka på Komin utanför Malmö stads nätverk"
När man sitter på Malmö stads enheter men inte på nätverket, och försöker söka på Komin, så funkar det inte. Inifrån funkar söken.

[2016-10-28 08:31] martent commented on #351
Kommer du i huvudaget fram till https://s2.malmo.se/ utifrån med en plattformsdator som inte har VPN?

Inget svar, eller får du något felmeddelande? Når man inte servern så är det nätkonfiguration kopplad till plattformsdatorernas åtkomst och ska anmälas till IT-support.

@magnivar, kan du se om du får samma resultat så att vi vet om det är ett generellt konfigurationsproblem eller gäller vissa en

[2016-10-28 13:19] martent commented on #351
Servern s2.malmo.se är angligen inte upplagd via Nexus HAG. Det måste den vara om man ska kunna Komin-söka när man loggat in via sso.malmo.se.

@magnivar diskuterar detta med David Ravenna eller IT-support för att diskutera detta.

[2016-10-28 13:20] magnivar commented on #350
Magnus beställer script av Sitevision för att se hur långt man kommer med detta (enligt samtal idag med Anders Hurtig)

[2016-10-28 13:27] martent opened #352 "Sök på malmo.se nås inte från wi-fi"
Om man är uppkopplad via Malmö stads wi-fi når man inte den externa sökservern s1.malmo.se. Denna står publikt på internet hos DigitalOcean. Kan vara en DNS som är felkonfigurerad?

@magnivar Kollar med IT-support eller liknande.

[2016-10-28 13:35] martent commented on #348
@Svempan Ber redaktörer att inte spara gamla bannerlänkar i inställningarna. Och tar bort dem som ligger där.

@tomasrobertsson Ändra bannerlösningen så att ett kontrollerat felmeddelande loggas i stället för att hela felet kastas i loggen.

[2016-10-28 13:40] tomasrobertsson commented on #348
Jag har en lösning nu som gör så att inga fel kastas. Istället renderas bannern som den ska men länken kommer eventuellt vara trasig.
För övrigt har ni i min lokala kopia cirka 3000 trasiga länkar. Jag ska försöka sätta ihop det i en vettig rapport till er.

[2016-10-28 13:47] martent commented on #345
Beror troligen på att man är inloggad på Min sida med en webbläsare men är i en annan webbläsare när man klickar på länken. Olika webbläsare delar inte session och inloggingar.

[2016-10-28 13:47] #345 closed

[2016-10-28 13:58] martent commented on #343
@perber14 Kontaktar redaktören på Utbildning och meddelar att funktionaliteten inte ändras.

[2016-10-31 08:29] magnivar commented on #341
Går det att automatisera identifiering av telefonnummer i brödtext?

[2016-10-31 08:38] magnivar commented on #340
Alla formulär på komin borde ha obligatorisk epost.
Var ligger formuläret? (magnus undrar)
exempelsida:
https://komin.malmo.se/Forvaltningar/Stadskontoret/Mal--styrning/Intern-kontroll.html

[2016-10-31 08:45] magnivar commented on #339
@tomasrobertsson
Kan du läsa igenom denna och återkomma med en kommentar?

[2016-10-31 08:50] magnivar commented on #338
@tomasrobertsson
kommentarer från dig på detta?

[2016-10-31 08:56] magnivar commented on #337
Sven visar Magnus var det finns i komin.

[2016-10-31 09:05] magnivar commented on #333
Ola visar skisser

[2016-10-31 09:12] magnivar commented on #332
Förslag till lösning? @tomasrobertsson

[2016-10-31 09:25] magnivar commented on #328
Kollar om det fortfarande är aktuellt.

[2016-10-31 09:36] magnivar commented on #325
@tomasrobertsson Hur ser du på detta? Bör man göra det efter SV4.x migrering?

[2016-10-31 12:59] olajoh1 commented on #279
Ej åtgärd

[2016-10-31 12:59] #279 closed

[2016-10-31 13:05] magnivar commented on #272
@martent Status på detta?

[2016-11-01 08:51] olajoh1 opened #353 "Format för telefonnummer"
VIlka möjligheter finns att kodmässigt styra formatet för telefonnummer. Se exempel på fel nedan.

http://malmo.se/vastan

[2016-11-01 09:28] olajoh1 opened #354 "Uppmärkning av citat"
Enligt PTS webbriktlinje nr 103 bör vi märka upp citat i koden (egen formatmall).

https://webbriktlinjer.se/r/103-markera-citat-i-koden/

Gäller såväl malmo.se och komin som SV och WP.

@perber14

[2016-11-01 10:03] magnivar opened #355 "Bildtext under video har för stort avstånd"
Micke tycker det är för stort avstånd mellan video och bildtext under på denna sida:
http://malmo.se/Kommun--politik/Socialt-hallbart-Malmo/Kommission-for-ett-socialt-hallbart-Malmo/Uppdrag.html

Det är styrt av http://assets.malmo.se/external/v4/malmo.css
.bc-video-box{position:relative;height:0;padding-bottom:56.25%;margin-bottom:1.5em}

Påverkar det andra ställen?

[2016-11-01 11:56] martent commented on #272
Jag har inte varit med i diskussionerna kring detta.

Är det konceptdiskussion som är fokus just nu eller ett genomförande. I senare fallet är det ett uppdrag som får specas till Bouvet.

[2016-11-01 12:08] magnivar commented on #272
@martent Mårten tar denna enligt olajoh1s instruktioner.

[2016-11-01 12:11] olajoh1 commented on #272
Mårten återkommer kommer med förslag.

[2016-11-01 12:52] olajoh1 commented on #354
Mårten, vill du lämna ett förslag på hur vi bäst kan uppfylla kraven i riktlinje 103.

[2016-11-01 12:57] magnivar commented on #353
Finns riktlinjer här:
https://webbriktlinjer.se/r/90-gor-det-enkelt-att-ringa-upp-telefonnummer/

[2016-11-01 13:13] magnivar commented on #353
Mårten plockar ut en lista med avvikande format/tecken för att i förlängningen kunna säkerställa bättre datainput till kontaktboken

[2016-11-01 13:53] magnivar commented on #349
Alla proxymoduler skall ha den nya texten.

[2016-11-01 14:02] magnivar commented on #353
Se även #341

[2016-11-01 14:28] magnivar commented on #336
Dubblett till malmostad/intranet-dashboard/issues/65

[2016-11-01 14:28] #336 closed

[2016-11-01 14:39] magnivar commented on #335
Funkar hos mig. Kan du kolla vad som inte funkar?

[2016-11-01 14:54] magnivar commented on #332
@perber14 Behovsdiskussion?

@olajoh1 Punkt 2, hur menar du?

[2016-11-01 15:32] tomasrobertsson commented on #349
Jag tittar på denna senare under veckan.

[2016-11-02 08:43] tomasrobertsson commented on #348
Har uppdaterat Menu och även Banner på er testserver för malmö extern
Uppdatering av Menu enbart omstuvning av kod, tog bort element inte ska fungera i Sitevision 4. Ingen garanti från mig att scriptet felfritt fungerar i SV4 men chansen har ökat med denna ändring.

Banner uppdaterad så att den inte kastar fel, istället kommer länken från bannern gå till (standard) 404.

[2016-11-03 14:52] perber14 commented on #332
@magnivar Behovsdiskussionen är avklarad. Detta behövs.

[2016-11-04 08:21] olajoh1 commented on #339
OBS gäller både malmo.se och intranätet

[2016-11-04 08:43] perber14 commented on #343
Har varit i kontakt med Carina på Grundskolan. Ej bugg. Information tillagd i wikin.

[2016-11-04 08:43] #343 closed

[2016-11-04 08:43] Svempan commented on #348
Metadata på startbanner (och bildnyheter) kopplade till avpublicerade sidor borttaget

[2016-11-04 09:10] tomasrobertsson commented on #348
@Svempan är det en kommentar på min ändring ovan heller har ni gjort något i systemet?
Ändringen jag gjort använder metadata men kastar inte fel om länken är fel.

[2016-11-04 09:23] perber14 opened #356 "Ta bort datum från nyhetslistningen på startsidan"
![image](https://cloud.githubusercontent.com/assets/22030097/20000619/b48d9912-a278-11e6-8d8c-9e9f9f146776.png)

Det är alltså den lilla datumvisningen i listningen längst till höger av de fyra som ska tas bort.

[2016-11-04 09:30] tomasrobertsson commented on #338
Då jag inte är helt bekant i eran ganska stora webb undrar jag helt enkelt var hittar jag denna kontaktruta?
Är det en ren script-portlet eller är det en java-portlet?  Finns den bara på intranätet/komin?

[2016-11-04 09:41] magnivar commented on #324
Per diskuterar behov med Carina

[2016-11-04 09:48] elilun14 commented on #308
Avvakta så länge.

[2016-11-04 09:55] elilun14 commented on #307
Manuell rensning!

[2016-11-04 10:00] elilun14 commented on #296
Avvakta så länge.

[2016-11-07 13:33] Svempan commented on #347
Har testat i TEST  lite snabbt och hittar inga konstigheter

[2016-11-09 07:56] magnivar commented on #347
Charlotta kom tillbaka får sjukfrånvaro och har problem med header. Den syns inte alls. Vet inte om det är lokalt på just den datorn och hon kan inte starta om då en annan användare är inloggad på den.
Skärmdump
![fel pa menyn](https://cloud.githubusercontent.com/assets/22590738/20130911/5048ebb0-a65a-11e6-830c-2f7875b5910f.png)
@tomasrobertsson @martent

[2016-11-09 08:15] tomasrobertsson commented on #347
Detta borde inte vara relaterat till den ändring jag gjorde igår.
Nu ska ni veta att jag vet inte riktigt hur det ska se ut på den sidan men det ser ut som att sidmallar inte laddats som de ska. Dvs troligen att resurser från assets.malmo.se inte har laddats.

[2016-11-09 09:53] martent commented on #347
Det har inget med @tomasrobertsson release att göra.

Detta beror, som jag skrev i mitt mailsvar, på att webbläsaren inte fått css:er och javascript (Global Assets) från assets.malmo.se.

Och det i sig beror antingen på:

1. En nätmässig omständighet/tillfällighet; att nätet blockats eller inte fungerat mellan hennes uppkoppling och asset-servern. Vi har tidigare sett att DNS:er för vissa typer av

[2016-11-10 11:02] martent commented on #335
BrightCove kastar mängder med WARN från sina Javascript men inte när man klickar på video 2 och 3 som inte startar i IE11 så jag kan inte diagnostisera felet. Kan beror på att samma Javascript inkluderas för varje ny video på sidan men det är en vild gissning.

Det bästa är att låta Mickes konsult kolla vad som är fel. Sen får antagligen Bouvet ändra i SV.

[2016-11-14 09:00] tomasrobertsson commented on #348
Jag tog en titt på loggarna efter att jag lagt upp ändringarna ovan på produktion.
Resultatet av dessa ändringar var att "felet", för menyn, flyttades från Error (med Java-exception) till Warn med en rad varning om trasig länk.
Dvs problemet i grunden är de data som traverseras av menyn, kanske att det kan gå att putsa lite mer på scriptet att ta bort även varningen men den är nog inte fel att ha

[2016-11-14 10:00] magnivar commented on #348
Magnus kör en länkkontroll måndag kväll och skickar listan till toomasrobertsson, svempan och ola

[2016-11-14 10:06] magnivar commented on #347
Klar, testat och ligger i PROD

[2016-11-14 10:06] #347 closed

[2016-11-14 10:13] martent commented on #340
Kontaktformuläret finns i portleten för Kontaktrutan:

https://github.com/malmostad/sv-contact-portlet

[2016-11-14 10:41] martent commented on #338
Portleten finns https://github.com/malmostad/sv-contact-portlet

[2016-11-14 11:52] martent commented on #338
Jag skrev ett förslag på användar- och administrationsfunktionalitet ovan i https://github.com/malmostad/sitevision_assets/issues/338#247955316 som stämmer med dagens telefonmöte.

Tillägg enligt mötet:

Lägga till en koll på varje annat fält som skrivs ut som kontaktuppgifter att det faktiskt finns, dvs. att Kontaktrutan har fått dem i senaste hämtningen från [Kontaktbokens REST-API](https://gith

[2016-11-15 07:49] magnivar commented on #348
länkkontrollen gav 1450 fel och tog 2h10m att genomföra. Magnus ser om det går att sortera listan för att kunna skicka relevanta delar till förvaltningsredaktörer.

[2016-11-16 16:40] martent commented on #353
Jag har mailat Excelrapporten till @olajoh1 och @magnivar.

Jag har plockat ut en lista på telefonnummer som kommer från ADM och har ett eller fler suspekata format, flik 1. Flik två är övergripande statistik.

Här är språkrådets formatteringsrekommendationer:

http://www.sprakochfolkminnen.se/sprak/sprakradgivning/frageladan.html?url=-27634753%2Fcgi-bin%2Fsrfl%2Fvisasvar.py%3Fsok%3DTelefonnummer%

[2016-11-17 11:40] martent commented on #341
Jag har tagit upp den användarmässiga problematiken med att länka e-postadresser och telefonnummer på "Vägledning för webbutveckling" Riktlinje nr 90. Texterna inväntar för närvarande moderering

https://webbriktlinjer.se/r/90-gor-det-enkelt-att-ringa-upp-telefonnummer/

[2016-11-17 11:45] martent commented on #353
Länkning av telefonnummer är upptaget till diskussion med "Vägledning för webbutveckling". Se kommentar https://github.com/malmostad/sitevision_assets/issues/341#issuecomment-261225950

[2016-11-17 14:01] martent commented on #354
## Wordpress

I Wordpress skapar man fristående citat genom att klicka på ikonen med citationstecken. Markupen blir korrekt med `<blockquote> ... </blockquote>`. Stilsättningen blir nu ett traditionellt indrag för det eller de textstycken som finns i citatet. Vi kan även enkelt förändra stilstättningen i efterhand. Denna hantering av fristående citat verkar många av redaktörerna kunna hantera om m

[2016-11-17 14:09] martent commented on #354
## Ange källa

För att ange källa för ett citat korrekt använder man koden `<cite>`. Det kräver dels en del redaktionell erfarenhet för hur man anger källa, och det kan bli rätt komplex kodstruktur som man får ha en plugin för. Se [exempel 12–19](https://w3c.github.io/html/grouping-content.html#example-54bcdf6d) i HTML-specen för olika redaktionell struktur för detta. Den kan med andra ord variera

[2016-11-17 14:13] martent commented on #354
## Sitevision

Sitevision 4 har knappar både för inline- och block-citat:
https://help.sitevision.se/SiteVision_4_0/12701835.html

Verkar även finnas i SV 3 fast det ser lite annorlunda ut.

[2016-11-17 14:26] martent commented on #355
Det är svårt att matcha upp den kod som SV lägger i kontexten här med CSS-selectors *utan* att det negativt påverkar andra scenarier, t.ex. video utan bildtext. Eftersom HTML-koden kring video skapas av den byggda portleten [sv-webbvideo-inline](https://github.com/malmostad/sv-webbvideo-inline) ligger det nog närmast till hands att i redigeringsläget för portleten ha ett frivilligt fält för en bil

[2016-11-18 09:09] martent commented on #355
Ett alternativ som inte kräver någon ändring i portleten [sv-webbvideo-inline](https://github.com/malmostad/sv-webbvideo-inline) är att skapa en dekoration för inline video med bildtext som publicisten får applicera när hen lägger in den. Då är det lätt att matcha upp CSS-selectors på korrekt sätt.

Bouvet har eventuellt någon ännu bättre idé.

[2016-11-21 14:43] martent commented on #272
Modifierad lösning baserad på stockholm.se finns nu längst ned på prototyp-sidorna för malmo.se, t.ex.:
http://malmostad.github.io/prototypes/external/body-copy-18/

[2016-11-21 14:44] martent commented on #272
## Implementationsinstruktioner

Browserkoden behöver antagligen tweakas när funktionen förändras i SV. Här är diffen mot föregående lösning i prototypen där man eventuellt kan använda valda delar av HTML/CSS/JS:
https://github.com/malmostad/prototypes/commit/7c8c1ce162748c969f2267fc129a24ae304a7249

[2016-11-21 15:10] olajoh1 commented on #272
ok. Vill du komplettera texten nedan med ett "Tack".

Du har nu hjälpt oss att förbättra malmo.se

[2016-11-22 12:34] martent commented on #272
Tog bort "Tack" för att Stockholm inte hade det :) TIllagt igen.

@magnivar, ställer denna på sig så att du kan planera när ändringen ska införas i SV.

[2016-11-22 13:42] olajoh1 commented on #272
Magnus denna är viktig att få ut snabbt. Jag har därför ändrat milstone 4.7.

Observera att den ska finnas på både Komin och malmo.se. Komin har högst prioritet.

[2016-11-24 08:45] olajoh1 commented on #333
@martent Säg till när du har tid så tar vi denna och 332 samtidigt.

[2016-11-25 14:48] tomasrobertsson commented on #340
![image](https://cloud.githubusercontent.com/assets/15670239/20628466/6075fcca-b326-11e6-8b75-b29ec0f77334.png)
Ett första steg klart, tänkte ni skulle få chans att säga bu eller bä om valet av väg.
Helt enkelt göra det till en inställning i portleten om epost ska krävas eller ej.

Andra änden, dvs få ut denna inställning i portleten är kvar att göra.

[2016-11-29 12:45] tomasrobertsson commented on #340
Nu ligger det på er test server för komin en version av kontaktportleten med inställningen ovan adderad. Dvs ni kan för varje sida där ni lägger till denna portlet ställa in om epost ska krävas eller ej.
Samma portlet finns även på produktion varvid jag valde denna väg.

Jag ser att det idag inte finns någon validering av formuläret på klientsidan. Det ingår inte i detta uppdrag att lägga till det

[2016-11-29 15:07] olajoh1 commented on #340
Fältet epost nedan i formuläret ska vara obligatoriskt. Inget annat.

![image](https://cloud.githubusercontent.com/assets/6176181/20714910/ccd5f364-b64d-11e6-9a59-10b46e3f465b.png)

[2016-11-29 15:19] tomasrobertsson commented on #340
Bara epost? Idag är namn, meddelande avser  och meddelandet obligatoriskt.

Jag kan göra om så att ni kan ställa in för alla fält om de ska vara krav eller ej, idag är övriga satta i koden att de ska vara obligatoriska.
Och oj vad fint formuläret är med formatmall, den ser jag inte på test-servern.

[2016-11-30 08:54] tomasrobertsson commented on #340
Har lagt på format (css) och script (js) från assets.malmö på komin test så att sidorna ser ut, och fungerar, som de ska även för mig som går in via VPN.

[2016-11-30 12:51] tomasrobertsson commented on #328
Jag måste medge att jag här inte vet vad det är ni vill ska ske.
eller rättare sagt jag kan på komin inte se hur det ser ut idag (pga av att jag via VPN inte får några formtmallar alls på den sidan/kan inte ladda några externa resurser) och därmed inte heller se vad det är som ska ändras.
Testar på test-komin och lägger in formatmallarna och JS direkt där, då får jag format och kod som körs men på

[2016-11-30 13:36] martent commented on #328
@magnivar  Be ITS se till så att Thomas når den publika servern assets.malmo.se när han är på VPN.

[2016-11-30 13:57] tomasrobertsson commented on #328
Och även webapps06 tror jag bestämt då ni har resurser även där.

[2016-12-01 08:53] olajoh1 opened #357 "Script för Hotjar"
Vi behöver hjälp med att aktivera vårt script för verktyget Hotjar. Scriptet ska placeras på samtliga SV-sidor på malmo.se under ca en vecka. Jag vill dock först att vi testar det på ett urval av sidor.

Angelägen om att ärendet får viss prio.

Jag skickar nödvändiga inloggningsuppgifter via mail.

[2016-12-01 09:06] tomasrobertsson commented on #357
Ok, skicka så tar jag en titt om det fungerar rakt av utan extra ändringar.

[2016-12-01 09:29] magnivar commented on #328
Har beställt access nu till båda.

[2016-12-01 09:31] magnivar commented on #272
Lägger den i 4.8 för att 4.7 redan är avropat

[2016-12-01 10:02] olajoh1 commented on #357
@tomasrobertsson  Vad har du för mailadress?

[2016-12-01 10:29] tomasrobertsson commented on #357
tomas.robertsson@bouvet.se

[2016-12-01 15:11] magnivar commented on #328
Tomas ska nu ha access till både assets och webapps06

[2016-12-01 15:22] tomasrobertsson commented on #328
Tackar, nu flyter sidorna på mycket bättre.

[2016-12-05 09:48] tomasrobertsson commented on #272
Sorry, klickade på fel knapp, Återställde.

[2016-12-05 11:25] tomasrobertsson commented on #340
Behöver ett klargörande av det @olajoh1 skrev ovan.
Jag har förstått det som att epost ska göras obligatoriskt och har lagt in det som ett val i inställningarna.
Är detta korrekt eller önskar ni något annat/mer?

[2016-12-05 11:40] olajoh1 commented on #340
Vi är ute efter att det alltid är obligatoriskt, ej valbart.

[2016-12-05 11:56] tomasrobertsson commented on #340
Obligatoriskt enbart för malmö interna då. Dvs inga inställningar i portleten men alltid obligatoriskt på malmö interna?
Då får jag göra om och lägga in det hela på lite annat vis än jag gjort idag.

[2016-12-06 11:39] tomasrobertsson commented on #340
Okej, nu har jag en version där inställningen görs i kontaktruta.properties, dvs ni ställer in denna till true för komin och false för externa webben.

Ingen inställningen vid installation av portlet på sidorna utan bara en vid deploy av portleten.

[2016-12-08 08:13] tomasrobertsson commented on #356
@magnivar nu ligger det på er test-server en uppdaterade version av det JS-script (i filarkivet) som genererar nyhetslistningen.
Uppdateringen är en ändring i filen news.js under mappen lib.
Ett spännande arbete att lista ut var något sker och i slutändan är själva lösningen att ta bort denna rad:
itemHtml += "<span>(" + pubDate + ")</span>"; (rad 670  i filen)

[2016-12-08 09:31] magnivar commented on #356
@perber14 Kan du kolla att det ser ut som det ska.

[2016-12-08 09:54] perber14 commented on #356
Japp, det ser bra ut!

När sätts det i produktion? Vilka andra tickets ligger i samma deploy?

[2016-12-08 10:29] tomasrobertsson commented on #356
Det får ni bestämma, vi sade allt i allt svep men om ni är nöjda med denna kan jag putta upp det på prod på fem minuter.

[2016-12-08 12:27] tomasrobertsson commented on #357
Detta ska nu vara implementerat på produktion. Verifiera och stäng

[2016-12-08 12:28] tomasrobertsson commented on #348
Är det något kvar i denna som jag ska göra? Eller ska jag betrakta denna som färdig från Bouvets håll?

[2016-12-08 12:34] magnivar commented on #348
vill du ha länkfels listorna? Hjälper det dig att avgöra om det är de länkfelen som hamnar i loggen?

[2016-12-08 12:56] tomasrobertsson commented on #348
Vet inte vad jag ska göra med dem egentligen. Det är mer ett arbete för redaktörerna att städa i webben. Just den portlet vi har i detta ärende är nog fixad så bra det går, dvs felen hanteras bättre nu än innan jag kom in i projektet.

[2016-12-08 13:50] martent commented on #340
Det ser ut som om sv-contact-portlet/config/ i portletkoden tar höjd för individuell konfiguration för intern, extern samt för test och prod. Har du lagt inställningen så att den inte behöver ändras vid varje deploy utan använder miljö-specifik konfiguration?

En hel del i config för portletten är information som inte är hemlig. En variant är att lägga över all den i Git-hanterade filer och lägga

[2016-12-08 14:18] tomasrobertsson commented on #340
Jag kan dela upp det som du skriver, i två olika filer och lägga in de data som inte är känsliga i GIT, dvs ur nuvarande ta ut
kontaktruta.contact_us_header=Kontakt
kontaktruta.link_email=true
kontaktruta.link_username=true
kontaktruta.show_avatar=true
kontaktruta.require_email=true
och lägga i fil som vi skickar upp till GIT som du säger.

Databas-inställningar förstår jag att ni inte vill ha där

[2016-12-08 14:28] martent commented on #340
Du tänker på att lägga den direkt på respektive server? Det stämmer väl överens med hur vi gör med andra system.

[2016-12-08 14:32] tomasrobertsson commented on #340
Precis.  Var lägger ni inställningsfiler idag? Ah, det kan jag titta över själv.

[2016-12-08 15:08] martent commented on #340
👍

[2016-12-08 15:43] tomasrobertsson commented on #340
mmh, hitta själv sade jag... Om du vet kan du alltid berätta så slipper jag leta... kan säga i annat projekt jag jobbar med läggs ALLT i tomcat/bin
Där lägger ivartfall inte ni något.

[2016-12-09 10:09] martent commented on #340
@magnivar tar frågan med driften så att den:

1. Ligger i en katalog där den naturligt flyttas med om man ersätter
en server med en annan för samma tjänst/miljö. t.ex. malmo.se-prod med
en ny malmo.se-prod.
2. Att filen **inte** flyttas med när man tar en färsk kopia från
t.ex. malmo.se-prod till malmo.se-test. I det fallet ska configfilen
för malmo.se-test liggar kvar utan att skrivas över.

[2016-12-09 11:28] tomasrobertsson commented on #340
Enklast är om den kan läggas inom mappen för Sitevision då den sökvägen kan byggas upp relativt installationsmappen. Exempelvis i mapp om Sitevision/tomcat/webapps/conf borde fungera. Eller ett steg upp i den sökvägen.
Nu vet jag inte hur ni gör vid flytt/migrering mellan servar, om den mappen berörs.

[2016-12-13 09:50] tomasrobertsson commented on #340
Har verifierat att det går att lägga kontaktrutans properties var ni vill på filsystemet. Om ni vill lösa den på det viset går det alltså men det finns ju alltid en risk när man flyttar ut config från projektet, exempelvis svårighet när systemet ska kopieras till nya maskiner.
Ni säger om ni vill ha med det i denna milestone/denna deploy.
J

[2016-12-13 12:52] tomasrobertsson commented on #338
Det finns två sätt att lösa detta på.
1: Kontrollera med linkRenderer.isValidTarget(($linkUsername) om sidan som finns i noden finns.
2: Att det i restAPI sätts ett icke-värde där, att kontrollen #if ($linkUsername), ger falskt svar.
Här behöver utvecklingen i API och portlet samordnas, dvs jag behöver veta vad som ska komma från API och även ha testfall där jag kan kontrollera funktion.

för till

[2016-12-13 13:24] tomasrobertsson commented on #337
Vad jag kan hitta när jag nu tittar på detta ärende så finns denna dekoration publicerad på malmö.se redan under namnet Faktaruta och Läs mer. Dvs inget för mig att göra här @magnivar vad jag kan se.
exempelvis testad här
http://www.malmo.se/Teststruktur/Faktaruta-och-Las-mer.html

[2016-12-13 14:59] martent commented on #338
@tomasrobertsson_ Du ser att ett värde, på t.ex. `homepage` i @olajoh1 exempel överst är tomt genom att JSON-objektet du får tillbaka har värdet av en tom sträng, se exempel på:

https://github.com/malmostad/intranet-dashboard/wiki/Contacts-API-v1#get-a-single-group-contact

Det gäller generellt i API:et till Kontaktboken, de properties som finns i dokumentationen returneras alltid men kan vara en

[2016-12-13 15:20] magnivar commented on #337
Ja men så bra :) kan @Svempan kolla? Finns det andra ställen?

[2016-12-13 15:23] olajoh1 commented on #338
Exempel på sidor som inte fungerar.

https://komin.malmo.se/Arbetsfalt-verksamheter/Individ--familj/Verksamheter/Missbruks--och-beroendevard/Avenboken/BehandlingsHem.html

https://komin.malmo.se/Forvaltningar/Sociala-resursforvaltningen/Overformyndararenden.html

https://komin.malmo.se/Arbetsfalt-verksamheter/Individ--familj/Verksamheter/Missbruks--och-beroendevard/Avenboken/ReBo-enhet.html

[2016-12-14 09:31] tomasrobertsson commented on #338
När jag väl ser problemet är det ju enkelt löst.
https://komin.test.malmo.se/Forvaltningar/Sociala-resursforvaltningen/Overformyndararenden.html
se exempelvis på sidan ovan.
Är det fler fält i kontaktformuläret som ni vet behöver en hårdare kontroll?

[2016-12-14 15:13] tomasrobertsson commented on #349
Titt senare i veckan blev idag.
Vilka olika fel är det ni vill hantera specifikt? Ska användarna får en generell text eller ska vi ge mer detaljerade fel.
För proxyportlet kan man, som ni vet,  ställa in ett generella fel eller specificera på olika, 401, 404, 500 osv.
Vid granulitet önskas? Jag kan sätta upp möjlighet att skapa olika för alla olika nivåer, generellt meddelande på alla, så kan ni/v

[2016-12-14 16:29] martent commented on #349
Tar du denna @magnivar?

[2016-12-15 10:19] tomasrobertsson commented on #328
Denna har jag nog löst men oklart för mig hur jag gör deploy av css i ert system. Vet att vi gick igenom det vid startmötet men bäst att repetera.
Ändringen är i två steg.
1: Flytta på bildelementet i sv_contacform
2; Lägga till bold till vcard h2 a i CSS.

men hur deployar jag ny css?

[2016-12-15 12:01] martent commented on #328
Du bygger en war-fil och deployar som servlet i SV. Kort + fullständig dokumentation:

https://github.com/malmostad/sitevision_assets/

[2016-12-15 15:27] magnivar commented on #349
Förslag: (eller vad säger @Svempan)
401 - Du har inte behörighet att besöka sidan.
404 - Sidan du försöker nå hittas inte.
500 - Det är ett tekniskt fel på sidan du vill besöka och kan inte visas.
Övriga: Det går inte att visa sidan.

[2016-12-15 15:30] magnivar commented on #335
Detta är svaret från vår videoleveratör!

Hi Mikael,

This is a known issue with IE as it uses Flash to load the HLS rendition with the player, if you have more than one player on the page, the flash object will only load for the first one leaving the other players without videos.

To solve this issues, you would need to force the player to use MP4 renditions when loaded on IE, you can create a pl

[2016-12-15 17:41] martent commented on #349
För proxy-modulerna handlar det inte om "sidan" utan en mer eller mindre stor ruta på en sida, t.ex. *Händer idag*. Så meddelandet får bli på temat "informationen kunde tyvärr inte hämtas" eller liknande.

[2016-12-15 17:49] martent commented on #335
## Tech-talk

Om scriptet ska in, lägg det inte i någon sida eller mall utan i en fil typ:

https://github.com/malmostad/sitevision_assets/blob/master/src/javascripts/video-hacks.js

och lägg till den i bygg-scriptet runt:

https://github.com/malmostad/sitevision_assets/blob/master/Gruntfile.coffee#L47

Antingen som coffee om den ska ligga i coffee-transpiler-blocket, eller lägg till en concatener

[2016-12-15 17:53] martent commented on #357
Vet inte om denna ska ligga konstant. I så fall, för er information, den laddar in ~300kb javascript som webbläsaren får exekvera på varje sida. Gzippat är det ~60kb att hämta hem i två requests.

[2016-12-16 07:16] tomasrobertsson commented on #349
Korta koncisa meddelanden som är ganska lika för kunden men som ni/vi som ska felsöka kan säga vad som går fel.
Jag implementerar detta på test för externa webben under dagen.

[2016-12-16 12:57] tomasrobertsson commented on #349
Ett test
http://www.test.malmo.se/Teststruktur/Proxy-test.html
där texten kommer från del på denna sida
http://www.test.malmo.se/Redaktorer/Felsida-rss.html
 Ger 404-fel eftersom adressen i portleten är medvetet fel.

[2016-12-16 14:19] tomasrobertsson commented on #328
Då ligger det uppe på komin test. Som vanligt vid CSS-ändring måste man göra en refresh av sidan för att den ska laddas.
https://komin.test.malmo.se/Forvaltningar/Grundskoleforvaltningen/Var-organisation/Utbildningsomraden/Utbildningsomrade-Oster.html
exempelvis.
Ser väl ut som ni önskat?
@magnivar  och @martent
ber om ursäkt för att jag inte hunnit detta tidigare.

[2016-12-16 14:59] martent commented on #328
Ser rätt ut på sidan och i koden. Man borde nog göra ett mer provocerande exempel för att testa av det helt, med flera kontakter med olika format på bilderna typ de som finns på:

http://malmostad.github.io/prototypes/internal/clean/

[2016-12-16 16:03] tomasrobertsson commented on #328
Har ni en sida med det så... annars lägg upp en och se hur det blir. Ni är mer bekanta med funktionen/användningen av er webb.
Jag tittar på det på måndag.

[2016-12-20 07:16] tomasrobertsson commented on #328
Två dummy-bilder
https://komin.test.malmo.se/4.2b56f4113ec05ff84f1f5cd.html
hittar ingen sida, lyckas inte skapa en sida, där det finns riktiga bilder på test.

[2016-12-20 10:05] perber14 commented on #349
Jag tycker att texterna borde vara:

401 - Nu blev del fel! Du har inte behörighet att visa informationen.
404 - Nu blev det fel! Det går inte att hitta informationen.
505 - Nu blev det fel! Det går inte att visa informationen.
Övriga fel - Nu blev det fel! Det går inte att visa informationen.

Tydlig fel-info och lite mer aktivt språk, som ju är bra för läsförståelsen.

OK, @Svempan?

[2016-12-20 14:45] Svempan commented on #349
OK! @perber14

[2016-12-20 15:16] Svempan commented on #337
Namnen på dekorationerna verkar finnas men inte funktionaliteten vad jag kan se. Jämför dessa exempel:
http://www.malmo.se/Teststruktur/Sven/Box.html
http://komin.malmo.se/Sven/Fakta.html
@magnivar

[2016-12-20 15:22] tomasrobertsson commented on #340
Jag tittar och verifierar min version av kontakruta mot de olika servrarna. Blir konfunderad när jag går in på Malmo.se för att hämta kontaktruta.properties där.
Den filen saknar de första raderna, de "öppna", dvs
[code]
Vilken version av kontaktruta ligger där? Den version jag har kod för kraschar om något av dessa fält saknas.  Ser att det där ligger en backup från 2014-10-03, att senast filerna

[2016-12-20 15:26] tomasrobertsson commented on #337
Jag applicerar Rubrik 2 på rubriken på den ena och då får den rätt format. Det formatet läggs väl inte till automatiskt på komin?

[2016-12-20 15:43] tomasrobertsson commented on #349
Jag uppdaterar med dessa strängar i mitt testexempel.

[2016-12-20 15:49] tomasrobertsson commented on #349
![image](https://cloud.githubusercontent.com/assets/15670239/21357078/36aad462-c6d4-11e6-9618-16db9bcf5167.png)
det är enkelt att ändra när vi väl implementerat det. Det "jobbiga" är att ställa in alla proxymodeller, peka dem på dessa fält.

[2016-12-20 16:35] martent commented on #340
Den senaste releasen ska vara gjord 11 september 2015:
https://github.com/malmostad/sv-contact-portlet/releases

Det anges inte i release notes men den verkar bara vara gjord för Komin.

Men de configfilerna deployas inte i releasen utan redigeras på plats. Jämför motsvarande config på Komin, de fälten ser ut som de kom till när kontaktrutan anpassades för att både funka på malmo.se och Komin.

[2016-12-21 07:52] tomasrobertsson commented on #340
Det är inte sådan skillnad/uppställning i koden att det finns delar av kod enbart för komin respektive externa webben. Själva kodbasen är densamma för de två webbarna, enda skillnaden är i vilken property-fil som används.
Koden använder idag ett antal fält från kontaktruta.properties. Om dessa fält inte finns kraschar den. Därav är min analys att senaste release bara lagts ut på komin samt test.ma

[2016-12-21 07:56] olajoh1 commented on #357
@martent
Det är inget som ska ligga konstant.

Vi har behov av att få ut det på Komin också. Har du ett förslag på lösning som gör att vi kan lägga ut det på min sida utan att lägga ut scriptet i asset?

[2016-12-21 09:08] martent commented on #357
Vi lägger det lokalt på Min sida, och i SV-komin om det ska användas där. Gärna efter pågående serverflytt av Min sida.

[2016-12-21 09:09] olajoh1 commented on #357
Säg till när du är redo.

[2016-12-21 10:12] Svempan commented on #337
Toppen! Det funkar!

[2016-12-21 10:12] #337 closed

[2016-12-21 10:19] tomasrobertsson commented on #328
http://komin.test.malmo.se/testarea/kontakt.html

[2016-12-21 10:44] perber14 commented on #348
Fixad i samband med hälsochecken tidigare i höstas.

[2016-12-21 10:44] #348 closed

[2016-12-21 11:48] tomasrobertsson commented on #328
Tagit bort fixen, 158b418, även. Påverkade inte sidan.

[2016-12-21 12:29] olajoh1 commented on #340
Se epostadressen i svarsmailen.

![obl_epost](https://cloud.githubusercontent.com/assets/6176181/21389351/8e79297a-c781-11e6-84a1-c408361bcda9.PNG)

[2016-12-21 12:36] magnivar commented on #340
Funkar korrekt här:
![capture_mail](https://cloud.githubusercontent.com/assets/22590738/21389500/62fc2a94-c782-11e6-8fcb-d63002e38ad6.png)

[2016-12-21 12:40] olajoh1 commented on #340
@magnivar Vi kollar inte på samma sak. Jag tittar på inkommande till mottagaren. Du tittar på kvittensen du får som avsändare.

[2016-12-21 12:48] olajoh1 commented on #340
Felet uppkom av en slump, men när jag lämnade epost-fältet (med korrekt ifylld adress) för att fortsätta att fylla i andra fält och sedan gick tillbaka för att redigera det på nytt med ett fel. Då accepteras det första korrekt ifyllda epostadressen istället för att göra en indatakontroll på senast inmatade.

![image](https://cloud.githubusercontent.com/assets/6176181/21389718/55a38396-c783-11e6-85

[2016-12-21 12:56] tomasrobertsson commented on #340
Detta fel du nu ser är orelaterat till ändringen i den mån att jag inte varit inne och ändrat i dessa delar. Validering av epost fanns sedan tidigare, den har bara aktiverats av detta. Men givetvis ska fel i denna hanteras.

[2016-12-21 13:38] tomasrobertsson commented on #349
Publicerade på malmo.se och komin.malmo.se

[2016-12-21 15:01] tomasrobertsson commented on #356
Hur detta är implementerat skiljer sig i skarpa och testmiljön.

I test har resursen, news.js, flyttats till filarkivet och tre, fyra olika portlets/vyer delar på denna fil. I produktion ligger denna js-kod istället i varje enskild vy/portlet.
Det vore nog bra att göra något liknande som i testmiljön på produktion, att flytta ut till en fil, en resurs. Alltid dumt att ha kopior av kod på flera stä

[2016-12-21 15:02] tomasrobertsson commented on #340
Jag kommer lägga ut kontakformuläret på test.malmo.se under morgondagen. Om den ser bra ut där lägger jag senare, ingen brådska, med klartecken från er även på produktion.

[2016-12-21 15:04] perber14 commented on #356
@magnivar Jag tycker det vore bra att få det ensat. Vad säger du, Magnus?

[2016-12-21 15:33] magnivar commented on #356
Jag håller med. Ska vi låta det vara kvar att göra i denna ticket/issue och stänga när det är gjort?

[2016-12-22 07:30] tomasrobertsson commented on #356
För referens, såhär ser det ut på test:
[code]
En notering att det gick sönder vid en flytt någon gång.
I sig inget konstigt ovan, använder Sitevision API för att hämta en namngiven fil SV filsystem, denna läses in och sedan körs en given rutin i filen.
Jag testar detta på produktion, på en inte publicerad sida, och verifierar att det fungerar även där. Borde inte vara något problem då referensen

[2016-12-22 07:57] tomasrobertsson commented on #340
Lagt upp det på test.malmo.se och kan, som väntat, inte se någon förändring. De ändringar som är gjorda ska inte påverka på malmo.se
Ni får gärna kontrollera det samt säga hur jag ska göra med deploy på malmo.se av denna. När.

[2016-12-22 08:29] tomasrobertsson commented on #349
Har hittat en till proxy-portlet som ligger i en mall (för startsidan). Testar lite på test-miljön och fixar även denna.

[2016-12-22 08:58] tomasrobertsson commented on #349
Uppdaterat och jag tog mig rätten att publicera det direkt på produktion. Hoppas ni inte går i taket för det.

Dvs den lösning som finns nu är:
1: För proxyportlets på sidor finns det en sida med felmeddelanden som dessa kan använda.
2: För proxyportlets i mallar finns det en annan MALL med samma felmeddelande som för sidor men enbart användbar för portlets i mallar. Den portlet som använder dessa

[2016-12-22 09:42] magnivar commented on #351
Kan inte återskapa felet så vi anser det som löst.

[2016-12-22 09:42] #351 closed

[2016-12-23 08:30] magnivar commented on #328
Är lite osäker på om denna är kvar i test eller ute i prod. @tomasrobertsson @Svempan

[2016-12-23 08:32] magnivar commented on #338
@olajoh1 Är denna klar och kan stängas?

[2016-12-23 08:36] magnivar commented on #340
@olajoh1 kan du kolla och notera om den är klar för deploy på malmo.se

[2016-12-23 08:41] tomasrobertsson commented on #328
denna ligger på komin.malmo.se
Inga ändringar gjorda som ska påverka på externa webben så har inte byggt/publicerat något där.

[2016-12-23 13:16] olajoh1 commented on #340
kan inte testa. Får "tekniskt fel. Försök senare".

Såg nu att en blankrad saknas. Se bild nedan.

![image](https://cloud.githubusercontent.com/assets/6176181/21454638/60ae4486-c91a-11e6-893c-c7749ede3a2a.png)

[2016-12-27 13:10] tomasrobertsson commented on #340
Kan ni titta om inte samma fel, saknad blankrad, finns även på komin?
Och gärna, när ni rapporterar fel länka till sidan där det syns. Sparar mig många klick.

[2017-01-03 08:18] #356 closed

[2017-01-03 11:42] olajoh1 commented on #338
ok

[2017-01-03 11:42] #338 closed

[2017-01-09 09:36] magnivar commented on #350
Vi inväntar SV4.x för detta

[2017-01-11 08:36] martent opened #358 "Byte av endpoint för API:et mot Kontaktboken"
# I korthet
*Kontaktboken* kommer att byta adress. Portleten *Kontaktrutan* i SV för malmo.se och Komin som får sin data från *Kontaktboken* måste styras om till den nya adressen, det kan göras redan nu för test och görs i prod när den nya adressen produktionssätts. Det är endast en konfigurationsparameter i portleten som måste ändras.

@magnivar:
1. Kommer överens med @tomasrobertsson och testare

[2017-01-11 08:57] martent commented on #332
Stilsättningen för detta verkar vara uppenbar. Den fjärde bilden och dess text formateras som de första tre. Samma media queries i CSS (breakpoints) används för att flöda om de fyra boxarna beroende på bredd oavsett om den fjärde innehåller en news ticker-lista eller bild och text.

Jag föreslår att ni lägger denna issue i en milestone för Bouvet. Jag finns tillgänglig för hjälp om det behövs.

[S

[2017-01-16 11:42] tomasrobertsson commented on #358
Hej
Detta är satt med hög prio, dvs ni vill att jag ska ta mig an detta snart. Alltid enklare att jobba under press, säg ett datum som det ska vara klart till, för att testas, så prioriterar jag upp det.
Att byta adress är en enkel sak rent tekniskt.

[2017-01-16 12:36] magnivar commented on #358
Vi kommer att börja gå över till de nya servrarna successivt med start gissningsvis efter 25:e januari misstänker jag. Kan det fungera för dig av ha det klart på TEST den 24/1?

[2017-01-17 09:14] tomasrobertsson commented on #358
Då siktar jag på att testa detta under torsdagen så att vi har några dagars marginal.
På normala test, inte på er Sv4 test.

[2017-01-26 15:28] tomasrobertsson commented on #358
Test på komin test fallerar. Sidan https://minsidatest.malmo.se/api/v1/ kan ej nås från servern.

Samma på extern test, kan ej nå nya kontaktboken.
Det blir mycket snack i loggen så jag återställer.
Om ni vill lägga in de nya igen kopiera bara in kontaktruta.war_new som kontakruta.war.

[2017-02-02 14:38] tomasrobertsson commented on #323
Noterat att den orangea ruta som lägger sig i toppen på många sidor är resultat av felet i kontaktportleten.
Dvs när den är rätta bör den rutan försvinna men vi bör samtidigt se till att error-rutan sköter sig och lägger sig på rätt plats.

[2017-02-10 13:02] magnivar commented on #357
Infört på SV komin

[2017-02-15 08:56] tomasrobertsson commented on #323
Och som svaret ovan om kontaktrutan säger är resultatet av getActionURL() olika i SV4 och SV3
I SV3 får vi ut en länk i stil med
/4.5d8108001222c393c0080002910.12.228b8e2313f816262746ba.html.portletaction?sv.mode=config

och i SV4
/portletaction/91.12e2278a148980ba13a84f37/12.60a621bc148d4b5e3b89a97

[2017-03-05 11:21] tomasrobertsson commented on #323
Kontakrute-portleten är nu uppdaterad att fungera i klassiska redigeringsläget i Sitevision 4.
Det som står ovan stämmer i princip med det jag ändrat i koden för att få det att fungera.

Att även få upp den i SV4 moderna gränssnitt vet jag inte hur mycket arbete som krävs för. Där får ni bestämma om jag/vi ska gå vidare. Om ni tänker er göra er fria från Java-lösningen inom en snar framtid kanske

[2017-03-09 15:06] perber14 opened #359 "Visa filstorlekar i samband med dokumentlänkar på malmo.se"
Det ska visas hur stor en fil är i samband med en dokumentlänk. https://webbriktlinjer.se/r/9-ge-dokument-tydliga-filnamn/

Idag blir det kajko på Tjänster och blanketter om vi slår igång inställningen (enkel checkbox i SV). Behöver kika så att formateringen blir ok (bort med ett komma och ett blanksteg) och se om vi kan fixa spaltbredden på T&B-sidan.

[2017-03-24 13:49] tomasrobertsson commented on #335
Det här ser ut att vara väl dokumenterat hur lösningen ska gå till.
Jag kan avsätta tid att testa den.

[2017-03-24 13:58] magnivar commented on #335
Gott, k?r :)

Skickat fr?n min iPhone

24 mars 2017 kl. 14:49 skrev tomasrobertsson <notifications@github.com<mailto:notifications@github.com>>:

Det h?r ser ut att vara v?l dokumenterat hur l?sningen ska g? till.
Jag kan avs?tta tid att testa den.

-
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/malmostad/sitevision_assets/iss

[2017-03-24 14:47] tomasrobertsson commented on #335
Siktar på ha testat det inom en till två veckor.

[2017-03-29 12:56] tomasrobertsson commented on #335
Testar sidan ni länkar till ovan i IE11 och den fungerar utan att jag gör något speciellt.

Är detta problem ur världen nu, har brightcove uppdaterat på sin sida? IE använder än flash men det fungerar. Ska sägas att jag sitter med IE11 på Windows 8.

[2017-03-29 13:22] tomasrobertsson commented on #335
Har nu även testat på malmo.se
http://malmo.se/Teststruktur/videotest.html
och där fungerar det inte.
Vad som är skillnaden vet jag inte men det får jag undersöka.

[2017-03-30 07:04] tomasrobertsson commented on #335
Skillnaden mellan de två, på test och prod, är ytterst liten. Bara en liten ändring i velocity.

Ändringen bekräftad på prod, manuell ändring i filen. Har bygget en ny version och lagt denna på test, där fungerar än flera inline-filer i IE
http://www.test.malmo.se/4.51821d07143bab87ba7b6fc.html

Säg bara till så puttar jag upp denna även på malmo.se
Har lagt upp ändringen här, i comit.

[2017-03-31 12:19] magnivar commented on #335
Var så god att putta upp den. Funkar bra för mig. Vi får kolla den när vi uppgraderat till 4.2.2 på tisdag också

[2017-03-31 12:42] tomasrobertsson commented on #335
Jag tycker vi tar en sak i taget, dvs vi uppdaterat först SV och sedan denna.

[2017-04-04 13:07] tomasrobertsson commented on #325
Ser att fråga ställts till mig, detta är ännu aktuellt?

[2017-04-04 13:45] tomasrobertsson commented on #335
Senaste version upplagd på nya malmö, SV4.
Commit här med tag v1.02

[2017-05-03 12:54] #357 closed

[2017-05-03 13:09] Svempan opened #360 "Kryptering malmo.se"
Vi bör införa https på hela malmo.se
Dels för att vi har sidor med känslig info som inte bör avlyssnas dels för att vi blir bättre rankade av Google

[2017-05-05 11:28] perber14 opened #361 "Visa när sidorna är senast uppdaterade"

[2017-05-05 12:27] perber14 opened #362 "Ta fram script för att läsa ut hur många sidor det finns med personknutna kontaktuppgifter på malmo.se"

[2017-05-05 12:28] perber14 commented on #362
- Hur många sidor

- Vilka sidor

- Vilka adresser som visas var (option)

[2017-05-05 12:51] perber14 commented on #354
Vi vill att de visuella förändringarna som kommer default från SiteVision, när man märker upp text med <q> eller <quoteblock> ska tas bort, så att vi utan påverkan på presentationen kan använda citat-uppmärkning.

[2017-05-10 11:58] perber14 opened #363 "Fix kopplad till nyhetslistningen på malmo.se"
https://github.com/malmostad/sitevision_assets/issues/356

I sidfoten som används på vanliga innehållssidor listas datum fortfarande, och inte på något bra sätt:

![image](https://cloud.githubusercontent.com/assets/22030097/25897563/ac5d5284-3588-11e7-9702-5dca99929ae1.png)

Ska bort även härifrån.

[2017-06-26 08:20] Svempan opened #364 "Påverkansytan/bannern går inte att länka till externa webbsidor"
Om man länkar bannern till en extern webbsida så hamnar man på malmo.se:s startsida.
Se även: #329

[2017-08-17 11:16] magnivar commented on #352
Löst

[2017-08-17 11:16] #352 closed

[2017-08-30 07:24] magnivar commented on #296
Testa att scripta detta på Test malmo.se för att sedan om lyckosam.
Sen på komin när TEST är uppe i 4.2.2

[2017-08-30 07:26] magnivar commented on #307
@Svempan , det här är ju redaktionellt.. kan du se över detta och komma fram med en plan?

[2017-08-30 07:29] magnivar commented on #323
2 år + 1 vecka senare... nu stänger vi ärendet :)

[2017-08-30 07:29] #323 closed

[2017-08-30 07:30] magnivar commented on #324
Kolla om API kan lösa detta så man undviker IFRAME-lösning

[2017-08-30 07:38] magnivar commented on #328
@elilun14 Kan du bekräfta att detta är löst så kan vi stänga ärendet? äntligen...

[2017-08-30 07:39] magnivar commented on #329
Uppgradering gjord.. finns felet kvar? @Svempan

[2017-08-30 07:41] magnivar commented on #332
VI ber @EllinorHallett kolla på denna när hon kommer hit... prio måste sättas.

[2017-08-30 07:42] magnivar commented on #333
Nåt för @EllinorHallett att titta på.

[2017-08-30 07:43] magnivar commented on #335
Detta är fixat i InlineVideo-portlet och nu tar vi steget över att ersätta portleten, som måste redigeras i klassiskt läge, med ett Element.

[2017-08-30 07:43] #335 closed

[2017-08-30 07:44] magnivar commented on #339
@EllinorHallett har fått detta och tittar på det.

[2017-08-30 07:44] elilun14 commented on #328
Ok att stänga detta. @magnivar

[2017-08-30 07:47] magnivar commented on #340
@olajoh1 kolla status...

[2017-08-30 07:49] magnivar commented on #349
Klart 2016

[2017-08-30 07:49] #349 closed

[2017-08-30 07:50] magnivar commented on #350
Går det att verifiera nu när vi uppgraderat genom export?

[2017-08-30 07:50] #350 closed

[2017-08-30 07:55] magnivar commented on #354
@perber14 är det här nåt för @EllinorHallett

[2017-08-30 07:57] magnivar commented on #355
VI kanske löser detta med ett nytt Video-Element.

[2017-08-30 07:59] magnivar commented on #358
@tomasrobertsson ... visst är detta löst i och med serverflyttar och nya kontaktruteportlets?

[2017-08-30 08:01] magnivar commented on #359
@perber14 är det här nåt vi ska titta på igen? Ellinor?

[2017-08-30 08:03] magnivar commented on #360
Vi ska införa https på hela malmo.se
Dels för att vi har sidor med känslig info som inte bör avlyssnas dels för att vi blir bättre rankade av Google

Vi tar fram en handlingplan tillsammans med @EllinorHallett och ITS

[2017-08-30 08:05] magnivar commented on #361
Är det bara att "slå på" eller krävs det styling och scriptning? @EllinorHallett

[2017-08-30 08:07] magnivar commented on #362
Frågan är hur, när det finns både kontaktboksknutna poster såväl som manuellt inskrivna. Vi tar upp detta med en bra sammansatt projektgrupp?

[2017-08-30 08:11] magnivar commented on #364
Hur löser man detta @EllinorHallett ?

[2017-08-30 09:38] tomasrobertsson commented on #358
Det ska vara löst. Många nycklar att hålla reda på men det ska fungera på båda prod och test-servrarna nu.

[2017-08-30 09:49] magnivar commented on #328
@elilun14 du kunde ju stängt också... ska formulera mig annorlunda nästa gång 💃

[2017-08-30 09:50] #328 closed

[2017-08-30 09:51] magnivar commented on #358
Toppen! Då stänger vi :)

[2017-08-30 09:51] #358 closed

[2017-08-31 06:54] perber14 commented on #354
@magnivar Ja, det tycker jag.

[2017-08-31 06:55] perber14 commented on #359
@magnivar Ja, det tycker jag absolut att vi ska göra. Webbriktlinje.

Ping @olajoh1

[2017-08-31 06:56] perber14 commented on #361
Det är ett färdigt metadata. Värdet finns alltså redan på alla sidor, men visas inte. Styling/design blir det ju tal om, vad gäller plats, position och exakt utseende.

[2017-08-31 06:58] olajoh1 commented on #359
@perber14 Exakt. Funktionen var påslagen under en kort period. Vill minnas att presentationen behöver stylas för att kunna användas?

[2017-08-31 09:04] magnivar commented on #359
@olajoh1 Bra, skriv upp denna i din Excel för Ellinor så tar jag upp det nästa vecka med henne.

[2017-09-06 07:22] magnivar commented on #333
@olajoh1 Förklara bättre :)

[2017-09-06 07:37] magnivar opened #365 "Göra malmo.se med SIteVision default responsivitet"
Undersöka hur och vad som vi kan göra för att dels frångå WAG-responsivitet och använda SiteVisions egna responsivitet.
Därmed bör också undersökas om våra bilder kan gå ifrån vår "dekoration"-teknik till SVs-inbyggda bild-modul.... hur den skall begränsas i behörighet osv...

[2017-09-06 11:59] EllinorHallett commented on #361
Detta finns nu på www.test.malmo.se. @perber14 kan du kontrollera detta och säga till om jag ska lägga ut det på malmo.se

[2017-09-06 13:20] perber14 commented on #361
Gött att det är på gång! Dock vill vi ha en konsekvent lösning - där informationen alltid ligger i botten (Magnus berättade problemen med om Kontakt oss är rätt eller fel inlagt). Kan du hitta någon bra lösning på det? Behövs det några extra timmar för t ex styling eller så för att få det bra är det värt det. @EllinorHallett

[2017-09-06 13:40] EllinorHallett commented on #361
Den är tyvärr svårare. En användare kan ju rent teoretiskt lägga in kontaktrutan hur som helst i mittenspalten (fel), behöver ju itne vara längst ner istället för att lägga upp det på det korrekta viset där den hamnar utanför mittenspalten. Jag kan omöjligt gissa var användarna lagt in denna och jag kan heller inte trycka in en kodbit i mittenspalten då denna är editerbar så SiteVision tillåter in

[2017-09-06 13:41] EllinorHallett commented on #272
@magnivar
Vilka delar är färdiga med detta ärende? Prototypen som Mårtan byggde, är det denna som ska in på externwebben eller ska vi titta på en ny lösning?
Jag har mailat SiteVision om de har någon färdig modul för detta med fick svar att de inte hade detta men fick ett förslag på att man eventuellt kan lösa det med en vanlig Frågeformulärsmodul:

[https://help.sitevision.se/SiteVision_4_0/dbfor

[2017-09-06 13:47] EllinorHallett commented on #339
Detta är inlagt i prod på malmo.se och Komin.

[2017-09-06 13:56] EllinorHallett commented on #365
För att testa detta behöver jag en testsite som jag kan göra stora ändringar på. Detta kan vara ganska tidskrävande men det ät lite svårt att veta innan man börjar testa då jag inte vet hur WAG påverkar samt hur siten är uppbyggd.. Behöver ni någon form av grundläggande estimat på vad detta kan ta i tid?

[2017-09-06 14:04] EllinorHallett commented on #332
Mitt förslag är följande:
Som jag förstår det så finns det idag ett metadata som styr om nyheterna ska visas eller inte med anpassatinnehåll i SiteVision.

Jag föreslår att vi ändrar metadatan. Vi har kvar den som en envalsfråga men vi ändrar alternativen från:

Visa nyhet = Ja/Nej

till ex:

Visa nyheter =
 * Visa 3 nyhetsbilder och en lista
 * Visa 4 nyhetsbilder
 * Visa inga nyheter

Sedan ta e

[2017-09-06 14:06] EllinorHallett commented on #359
Var kan jag testa detta? Fungerar det att testa på www.test.malmo.se? Ni nämnde någon sida som gick sönder helt om man slog på detta. Kan ni skicka länken till denna sidan?

[2017-09-06 14:21] perber14 commented on #361
Går det alltså inte att mallmässigt få in "visa metadatan allra längst ner på sidan", under kontaktuppgifter som även är korrekt inlagda? Alltid LÄNGST NER (på redigt, ja, förutom sidfoten).

[2017-09-06 14:22] perber14 commented on #359
Det är sidan "Tjänster och blanketter". Så i test: https://www.test.malmo.se/edit/4.43c957bc124bf688e0a80008710

[2017-09-06 14:26] magnivar commented on #272
Vi ska titta på ny egen SV-lösning lösning.

[2017-09-07 06:07] perber14 commented on #332
Tycker det låter som en plan! @Svempan & @magnivar?

[2017-09-07 06:15] olajoh1 commented on #339
Fungerar inte. Om du t.ex. sökning på "fackliga" på Komin för du hundratals träffar på flera förvaltningar pga att ordet finns i big foioten.

[2017-09-07 06:39] EllinorHallett commented on #361
Jo, vi ska nog kunna lägga den allra lägst ner, under kontakta oss rutan, tänkte bara att det var lite osammanhängande med texten att lägga den lägst ner.
Ska jag testa att flytta den och lägga in den där? @perber14

[2017-09-07 06:40] perber14 commented on #361
Ja, testa det! Det ger ett mindre rörigt intryck än att det hamnar på olika platser (dessutom med ett annat, avvikande, utseende). @EllinorHallett

[2017-09-07 07:02] EllinorHallett commented on #361
Fixat. Jag fick lägga en layout som bryter float ovanför textmodulen för annars flög datumet iväg till högersidan av någon anledning. Måste finnas en float någonstans i Css:en som stör ut för enligt SV- standard så ska allt lägga sig till vänster.  @perber14

[2017-09-07 07:05] EllinorHallett commented on #360
Detta ska inte vara något problem. Följa steg för steg guiden enligt: [https://help.sitevision.se/SiteVision_4_0/12703972.html](https://help.sitevision.se/SiteVision_4_0/12703972.html)

I stora drag:
- Installera certifikat
- Starta om SiteVision
- Aktivera åtkomstrav

Enligt SiteVision bör det gå utan problem.

[2017-09-07 07:26] EllinorHallett commented on #364
Börjar titta på detta under dagen och återkommer med vad som hittats.

[2017-09-07 07:31] EllinorHallett commented on #272
Okej, det finns inte SiteVision standardlösning för just frågan "Hjälpte denna sida dig?" det finns enbart en kommentarsmodul.
Eventuellt kan vi som sagt använde frågeformulärsmodulen men tyvärr tror jag att man enbart kan fylla i epostadresser manuellt och inte via metadata. Jag har ställt frågan till SiteVision så får vi se om de har någon bra lösning på problemet.

[2017-09-07 07:43] EllinorHallett commented on #359
Detta är ju lite klurigt för så som skriptet är uppbyggt så finns det ju inte plats för mer så är lite osäker på vad ni vill att jag ska göra. Ska skriptet för Tjänster och blanketter skrivas om så de får plats bättre? Finns det fler ställen det inte ser bra ut visuellt?

Ser även en bugg att när man slå på filstorleken ska den skriva ut vilken filtyp den är och just nu är denna tom så det blir i

[2017-09-07 08:51] EllinorHallett commented on #339
Vad är det för sök ni använder? Är det SiteVision standard eller har ni ex siteseeker?

[2017-09-07 11:42] EllinorHallett commented on #339
Jag har nu ändrat koden till en annan variant. Testa igen och återkom om det löst problemet.

[2017-09-07 12:33] perber14 commented on #361
Topp! Nu tycker jag att det är OK. Kolla ni också @olajoh1 och @magnivar!

[2017-09-07 12:46] perber14 commented on #359
@magnivar @Svempan @olajoh1 Något någon känner till? Buggen alltså.

Ja, lösningen får ju rimligen vara att skriptet ger utrymme horisontellt för att de ska få plats. Eller vad tycker ni andra?

[2017-09-07 12:57] olajoh1 commented on #361
Nu funkar det oavsett hur kontaktrutan är lagd på sidan. @magnivar styr hur vi implementar

[2017-09-07 13:10] olajoh1 commented on #272
När det gäller krav på funktionen ux-mässigt så ska den fungera exakt som på http://malmostad.github.io/prototypes/external/body-copy-18/

Övrigt
* ska bara visas på sidor som använder normalsidesmallen
* ska kunna aktiveras på enskilda sidor
* ska kunna ärvas
* mottagande epostadress ska kunna vara flera. Vi vill få en kopia på varje svar till en central epostadress men samtidigt ska inkomna synp

[2017-09-07 13:20] EllinorHallett commented on #272
Enligt ovannämnda krav finns det tyvärr ingen SiteVision standardfunktion för detta.
Det går inte heller att anpassa formulärsmodulen då denna måste ha statiska e-postadresser = man kan inte byta  på olika sidor utan det blir samma överallt. VIll man kunna ha olika epostadresser på olika sidor måste vi bygga något eget, så mån fråga är då varför vi inte kan använda den som finns  här: [http://malm

[2017-09-07 13:48] magnivar commented on #365
Du kan använda dev.malmo.se till detta.
Och ja, vi vill nog veta hur mycket tid detta kan ta.
Vi tar det på ett möte.
@perber14 @elilun14

[2017-09-07 13:50] EllinorHallett commented on #365
Okej, vad bra. Jag ska fundera på ett estimat så kan väl du @magnivar boka ett möte när det passar.

[2017-09-07 15:29] perber14 commented on #361
Denna ska in som "kort och viktig" imorgon på redaktörsmötet!

[2017-09-12 07:19] magnivar commented on #361
Redo för Deploy när C+J är stand by.

[2017-09-12 07:44] magnivar opened #366 "Implementera Fäll ut/Fäll in på komin"
Ta Fäll ut/Fäll in funktionaliteten från Gymnasiewebbarna och impemetera på komin.
Först i TEST och sedan förbereda redaktörer för rätt användande.

[2017-09-14 12:14] EllinorHallett commented on #366
Tyvärr verkar jag inte kunna logga in på test för komin med de inloggningsuppgifterna jag fick av dig @magnivar

[2017-09-14 13:14] tomasrobertsson commented on #366
Efter senaste flytt av komin, från produktion till test  ändrades inte lösenordet utan det är samma på prod som test.

[2017-09-15 15:03] olajoh1 commented on #332
Återkom med estimat

[2017-09-19 07:45] EllinorHallett commented on #366
Nu ligger funktionaliteten på plats bortsätt från att det saknas ett klassnamn i SiteVision som sedan ska pekas ut på ytan "Center & Dropdownklass" samt att koppla dekorationsmallen. Detta på grund av en bugg i SiteVision som inte tillåter mig att skapa dessa under webbplatsinställningar > Dekorationer. @magnivar vem tar kontakten med SiteVision för att rappotera denna buggen och få dem att åtgärd

[2017-09-19 07:47] EllinorHallett commented on #364
Detta ska nu vara löst.

[2017-09-19 07:51] EllinorHallett commented on #339
Den har nu gått ner från 600 träffar på ex Möbler på stadsförvaltningen till 66 stycken.
Gissningsvis är de träffar som är kvar av anledningen att  den tar med de sidorna som finns i menyn i WAGen.
För att lösa detta behöver ni lägga in samma kod som jag lagt in i SIteVision, även runt menyn i WAGen.

Denna innan menyn:
< !--eri-no-index-->

Denna efter menyn:
 < !--/eri-no-index-->

(Dock utan me

[2017-09-19 07:53] EllinorHallett commented on #361
Återkom när de är på stand-by så löser jag detta.

[2017-09-19 07:56] EllinorHallett commented on #332
Ca 6-8h
@olajoh1

[2017-09-19 09:06] magnivar commented on #366
@EllinorHallett jag ser gärna att du förklarar för dem för att de snabbare förstår vad som måste göras.

[2017-09-19 09:09] EllinorHallett commented on #366
Jag har skickat ett mail till supporten och bett dem skicka svar till mig med dig, @magnivar som CC.

[2017-09-20 11:39] EllinorHallett commented on #361
Detta ligger nu live.

[2017-09-26 06:47] olajoh1 commented on #361
ok

[2017-09-26 06:47] #361 closed

[2017-09-26 06:56] olajoh1 commented on #340
epostfältet är nu obligatoriskt.

[2017-09-26 06:56] #340 closed

[2017-09-27 07:27] olajoh1 opened #367 "Bilder i påverkansytan"
Tillagda alt-texter får ej genomslag. Vi kan inte se att de läggs till i html-koden.

[2017-09-27 07:50] magnivar commented on #364
@Svempan kan du kolla och stänga om det är klart?

[2017-09-27 08:02] magnivar commented on #339
@olajoh1 kollar med SIteseeker för eri-no-index finns

[2017-10-02 12:04] badwiz commented on #363
Provar bara att lägga en kommentar för att se att det fungerar...

[2017-10-02 12:24] magnivar commented on #366
Jag har inte fått någon respons från SV om dettta men det kanske är @badwiz som tar bollen vidare?

[2017-10-03 06:13] magnivar commented on #364
@Svempan kan du kolla och stänga om det är klart?

[2017-10-03 13:11] #364 closed

[2017-10-09 07:38] badwiz commented on #367
Lägg gärna till en länk i beskrivningen till en sida som saknar detta så blir det enklare att felsöka och hitta en åtgärd.

[2017-10-09 07:41] badwiz commented on #366
@bjornhutter Kan du se om du skulle kunna göra denna insats på Komin-test? Alltså se till att menyn fungerar som på Gymnasiewebbarna? Men om det inte fungerar (enligt Ellinor) så återkoppla så tar jag det med SiteVision.

[2017-10-09 07:42] olajoh1 commented on #367
Du kan titta på vilken startsida som helst. Påverkansytan är namnet på bannern

[2017-10-09 07:43] badwiz commented on #365
Detta ärende kräver att vi går igenom hur det ser ut i dev innan vi kan ge ett estimat. Detta har inte Ellinor gjort. Men vi ser att det kan finnas två vägar att gå. Försöka rätta upp mallarna som de ser ut idag eller byta ut mallarna helt mot nya mallar för att få det som SV-standard som möjligt.

[2017-10-13 07:55] badwiz commented on #272
Vi har kikat på detta och har en lösning som involverar modulen "Betyg" och ett e-postformulär för inskickande av synpunkt. Vi har snabbt sett att detta kan göras inom 16 timmar.

[2017-10-13 07:58] badwiz commented on #366
Vi har kollat runt på detta och ser att vi kan få till en liknande meny på 16 timmar på Komin.

[2017-10-13 08:09] badwiz commented on #360
Malmö stad behöver beställa ett certifikat på formatet PKCS12 som ska gälla för minst www.malmo.se och malmo.se. Vi rekommenderar ett * certifikat då fungerar *.malmo.se.
Installationen beräknas inte ta lång tid, utan det handlar om att ha tillgång till filsystemet på SiteVision-servern och ändra 3 parametrar, samt ladda upp filen på server. Detta gör ingen skillnad i anropen. Dock måste tjänsten

[2017-10-13 08:14] badwiz commented on #354
Jag vill bara ställa en kort förtydligande fråga

@perber14 Ni vill att citatet ska visas som vanlig text alltså? Vi ska göra en override på SiteVisions CSS som ändrar utseende?

[2017-10-13 08:19] badwiz commented on #333
@olajoh1 Har du kvar skissen? Lägg gärna den här i ärendet så ser vi vad som menas. Nu är det lite "luddigt" ;)

[2017-10-13 08:22] badwiz commented on #359
Buggen som Ellinor hänvisar till är ingen bug. Filikonen visas om filen har information om vilken mimetype som den har. Utifrån detta så har man möjlighet att veta vilken filen är. Har inte filen någon mimetype kan inte SiteVision veta vilken filtyp det handlar om.

[2017-10-13 08:24] olajoh1 commented on #272
Bra. Har ni byggt en sådan lösning tidigare och som vi kan ta del av?

[2017-10-13 08:40] badwiz commented on #366
Vi gör detta på test-webben innan det hamnar på Komin.

[2017-10-13 08:45] magnivar commented on #360
Wildcard certifikat finns redan på servern.
magnus kollar med @Svempan  vad som gick snett senast https infördes.

[2017-10-13 08:48] badwiz commented on #272
Förtydligande: Glöm inte att få med URL från sidan som synpunkten handlar om!!

[2017-10-13 08:49] badwiz commented on #272
Bonus: Kika på att skicka in detta som ett event i Google Analytics på Malmö stad.

[2017-10-13 08:58] magnivar commented on #333
Vi lägger denna "on-hold" tills vi utrett om/hur vi kan gå över till SiteVision default stilmallar

[2017-10-13 09:00] badwiz commented on #365
Bouvet sätter igång med förstudie för att se vilken väg vi ska ta och vad det kommer att ta i tid.

[2017-10-13 09:02] badwiz commented on #332
Vi väntar med detta tills vi har kommit fram till hur vi ska hantera responsiviteten generellt.

[2017-10-13 09:23] badwiz commented on #272
Länk till funktion som gjorts åt Hässleholms kommun, endast dold ännu. De har ej valt att använda denna än

http://www.hassleholm.se/4.2295e6d915ee5a5496dd529.html

[2017-10-13 14:49] perber14 commented on #354
@badwiz Yes! Så kika gärna på det!

[2017-10-13 14:49] perber14 commented on #354
Det gäller alltså blockcitat.

[2017-10-20 08:51] magnivar commented on #272
@olajoh1 kolla på detta och kommentera.

[2017-10-20 08:56] magnivar commented on #359
Förslag:
Ställ om för att visa filstorlekar
Hitta olika sidor som visar filer
Jämför och utvärdera resultat och ta beslut om åtgärder

[2017-10-20 08:59] badwiz commented on #354
Gör detta på testservern och verifiera hur det ser ut.

[2017-10-20 09:57] badwiz commented on #366
Anders Israelsson kommer att kika lite på detta om det finns tid när han håller på med Förvaltningssidorna. Annars lägger vi tid på detta efter Förvaltningssidorna.

[2017-10-25 06:37] olajoh1 commented on #339
Löst

[2017-10-25 06:37] #339 closed

[2017-10-25 07:16] olajoh1 opened #368 "GZIP-komprimering för prestandaökning?"
Information hämtad från Siteimprove. Magnus undersöker tillsammans med BOuvet och Jonny/Christan.

Om detta problem
GZIP-komprimering är ett sätt att komprimera filer så att de överförs snabbare. Servern skickar den komprimerade filen till användarens webbläsare som sedan laddar ned och packar upp den. Komprimeringen minskar filstorleken med upp till 90 % så att sidorna kan läsas in snabbare och d

[2017-10-25 07:43] olajoh1 opened #369 "Samma sida har två url:er"
För att få våra sidor att ranka så högt som möjligt i sökmotorer bör vi använda canonical länkar på rätt sätt. Just nu är SV inställd på att url:erna ska skrivas ut både med versaler och gemener.  Siteimprove signalerar att vi bör ändra så att vi enbart skriver ut url:erna på ett sätt för att få sidorna att fungera bättre i sökmotorer.  Vilka konsekvenser får det om vi ändrar till att skriva ut ur

[2017-10-25 10:45] badwiz commented on #368
Enligt SiteVision är alla resurser som skickas från server till webbläsare redan gzippade per default.

[2017-10-25 10:50] badwiz commented on #369
Google har indexerat er sajt enligt det som finns i menyerna, alltså "http://malmo.se/Bo-bygga--miljo/Bygga-nytt---bygga-till.html" (sentence case). Tar man någon annan form av url så finns Canonical för att visa sentence case som originalet.

För Google spelar det ingen roll rankingmässigt hur man har sina url:ar, det är varken sämre eller bättre med något alternativ.

Om ni skulle byta till enda

[2017-10-25 10:53] badwiz commented on #360
https verkar vara påslaget, men bara som "Inget krav". Det fungerar alltså både med http och https.

[2017-10-25 11:14] olajoh1 commented on #368
Går det på ett enkelt bekräfta att det fungerar som avsett i SV?

[2017-10-27 08:09] badwiz commented on #360
Menyn verkar "hårdkoda" länkarna till http. Detta måste ses över för att https ska fungera överallt.

[2017-11-01 10:11] olajoh1 opened #370 "Brödsmulan för Komin"
Brödsmulan för Komin skrivs ut fel.

Exempel:
Vår kommun>Förvaltningar>Stadskontoret

Ska vara:
Komin > Förvaltningar>Stadskontoret

Exempel:
Komin>Mål&styrning

Ska vara:
Komin>Vår kommun>Mål&styrning

[2017-11-03 08:20] badwiz commented on #370
Första exemplet är klockrent, detta ska fixas.

Det andra exemplet kan vara lite konstigt, då brödsmulan listar alla navigerbara element i sökvägen. Om den inte finns i strukturen som en sida så kan man inte navigera till. Men vi har inte kikat på detta ännu.

[2017-11-28 08:04] israelsson commented on #354
Vanlig quote har inte någon speciell style utan får browser style. Har tagit bort specifika stylen från blockquote och lagt till så att det blir samma som för vanlig quote.

Blockquote får sin style från //assets.malmo.se/external/v4/malmo.css vilket vi inte kommer åt att redigera. Har därför gjort en Overrides.css som läggs till sist i head för att skriva över viss style.

Finns att se på test.ma

[2017-11-28 10:03] magnivar opened #371 "Drift/Stabilitetsproblem"
Under fredagen den 24/11 2017 fick malmo.se-server det tungt.
Siteimprove meddelade flera gånger att servern inte gick att nå och det bekräftades även manuellt vid dessa tillfällen.
IT-Drift kollade på problemet och konstaterade att SiteVision arbetade väldigt hårt.
SiteVision AB's support har kontrollerat loggarna och kommit fram till följande:
****************************************************

[2017-11-28 10:04] magnivar commented on #371
@badwiz Kan ni ta del av detta och återkomma med förslag till lösning?

[2017-11-28 12:11] badwiz commented on #371
Vi kikar på detta omgående.

[2017-12-01 08:14] badwiz commented on #371
Efter lite felsökning så ser vi att kommentaren från Sjöstrand är lite missvisande. Problemen kommer sig av
 att det är RSS:er som försöker läsas in som inte finns längre. Detta borde avhjälpas med en omstart av SiteVision-tjänsten. SiteVision lagrar alla RSS:er även om man tar bort dessa ur gränssnittet, de läses in vid uppstart och när de läggs till.

[2017-12-01 09:25] magnivar commented on #354
@olajoh1 @Svempan @perber14
Är denna lösning ok - override av malmo.css?
Kan ni testa?

[2017-12-01 09:38] israelsson commented on #371
Jag har programmatiskt gjort en lista på de RSS:er som är upplagda på huset, och testar deras adress genom att försöka göra en http-koppling till dom.

I det bifogade dokumentet så finns rss:ens svarskod i den sista kolumnen. De som har svarskod 404 finns inte alls. De borde man kunna ta bort utan risk. De som det står "Error" på lyckas jag inte få en svarskod ifrån programmatiskt, där kan manuell

[2017-12-04 15:50] olajoh1 opened #372 "Senast ändrad ligger fel i mallen"
Uppgiften Senast ändrad visas plötsligt felaktigt under högermenyn. Ska visas i huvudspalten.

[2017-12-05 07:57] israelsson commented on #372
Det ligger inline style på en layout i mallen, inline stylen tog inte av någon anledning. Ni har en fördefinierad clearfix-class. Jag la på den på layouten, då fick man den inline style som låg genom classen istället. Ni ser på bilden vart jag ändrade.

<img width="448" alt="skarmavbild 2017-12-05 kl 08 54 49" src="https://user-images.githubusercontent.com/6682316/33595964-4fb60812-d99a-11e7-9cce-

[2017-12-05 10:22] magnivar opened #373 "Webbvideo-portlet sparar inte ändringar"
Webbvideomodulen (PRE SV 4) verkar inte vilja spara ändringar som görs av val av spellista från Brighcove.

Denna portlet kan fortfarande bara redigeras i klassiskt läge (IE11) och har bara en redigeringsmöjlighet.

Den sida vi kollar på just nu är: http://www.malmo.se/Kommun--politik/Malmo-en-hallbar-stad---socialt-ekonomiskt-och-ekologiskt.html och vi försöker ändra till spellista/kategori "Glob

[2017-12-08 08:41] badwiz commented on #373
Vi har kikat på att "laga" portleten men inte lyckats fixa allt. Dessutom är det samma fel i kontaktportleten, men vi har använt videoportleten som grund för felsökning. Jag tror att det är element som gäller för denna portlet, tyvärr har kontaktportleten väldigt mycket logik inbyggt så där kan det vara klurigare att skriva ett element av denna.

[2017-12-15 09:19] badwiz commented on #366
http://latinskolan.malmo.se/utbildningar/estetiska-programmet.html
Exempel på Fäll ut / Fäll in, accordion-funktion på innehållet.

[2017-12-15 13:42] henrikekelof commented on #359
@magnivar Tjänster och blanketter, klar för test. Jag skrev om koden för listningen så att det går att hantera lite specialfall med konstiga parenteser etc.
Jag har inte lyckats hitta någon annan sida där en fil är inlänkad, bara via fildelningsmodul.

Min nya version fixar tomrader utan att ni behöver lägga extra tomma mappar också, så dom kommer gå att kasta bort så får ni ett finare sidträd :)

[2017-12-15 13:49] magnivar commented on #359
@perber14 kollar du?

[2017-12-18 15:12] magnivar opened #374 "Google indexerar våra test-servrar"
robots.txt bör modifieras så att test-servrarna inte indexeras av google.

[2017-12-19 10:37] henrikekelof commented on #366
Hej @magnivar + @badwiz !
Det här var inte en SiteVisionbugg, det här handlade om att det låg ett par CSS-regler med felaktiga class-namn. Jag har fixat så att den här funkar på test nu:
http://161.52.13.184/edit/4.79ff2ce11606aebb8172a3f3

[2017-12-19 10:38] henrikekelof commented on #366
@magnivar Fråga: Vill du att jag stänger ett sådant här ärende när det är fixat, eller vill du kolla först och själv stänga sen?

[2017-12-19 22:18] magnivar commented on #366
@henrikekelof Assigna det på oss (mig) när du är klar så kollar vi och godkänner för produktionssättning och sen test av oss igen för acceptans... Det känns mest rätt eller har @badwiz någon annan tanke?

[2017-12-20 06:51] badwiz commented on #373
Nu finns det en ny modul, Element, som hanterar era filmer på komin och externt. Denna modul kommer att ersätta er nuvarande modul och fungera i SV4.

[2017-12-20 06:55] badwiz commented on #366
@magnivar @henrikekelof Håller med Magnus. Vi gör klart och sedan lägger vi över ärendet på Malmö (Magnus eller någon annan om vi vet vem det är).

[2017-12-20 10:38] magnivar commented on #374
Har bett vår IT att ta bort portöppningarna för extern trafik.

[2017-12-20 10:40] magnivar commented on #360
@martent har förberett menyn för övergång till https och dessutom gjort en checklista som jag mailat. Han inväntar produktionssättning.

[2017-12-20 10:51] magnivar commented on #366
Ser det ut så här hos er också?
![image](https://user-images.githubusercontent.com/22590738/34203601-192e13be-e57c-11e7-9a8d-75bb51cef956.png)

[2017-12-20 12:37] henrikekelof commented on #366
Ja, ungefär. Jag tänkte att det inte tillhörde det här ärendet att snygga till den, men jag kan se till att den ser lite bättre ut :)

[2017-12-20 14:43] henrikekelof commented on #366
Nu ska den se lite finare ut också! Kolla om det här känns mer OK:
![screen shot 2017-12-20 at 15 43 06](https://user-images.githubusercontent.com/186166/34212439-8d562838-e59c-11e7-9a94-3ca0a3ab3c18.png)

[2017-12-20 14:45] perber14 commented on #359
Ser bra ut.

Ett önskemål: ta bort linjen som ligger ovanför respektive områdesrubrik, alltså denna:

![image](https://user-images.githubusercontent.com/22030097/34212482-b3435322-e59c-11e7-9a30-e364baa039cf.png)

@Svempan @magnivar Behöver vi testa något annat vad gäller filstorlekarna, eller är det just bara hackat i B & T-sidan?

[2017-12-20 20:27] henrikekelof commented on #359
@perber14 Absolut! Någon har tidigare gjort intressanta "hack" för att få till den linjen, därav de tomma mapparna som ligger i strukturen. Jag behöll tomma rader för att jag trodde ni ville ha dem, men det går lätt att ta bort. Tycker du att det ska vara lite extra luft ovanför en rubrik eller ska den bara vara som en vanlig tabellrad med fetstil?

[2017-12-21 09:28] henrikekelof commented on #359
@perber14 Linjen borttagen. Jag stoppade in lite luft för jag tyckte det såg bra ut. Säg till om du vill ta bort den.
Jag letade runt lite och hittade mestadels fildelningsmoduler i övrigt. Där såg det rätt ut.

[2017-12-22 10:08] badwiz commented on #374
Uppdatera robots.txt på servern.

[2017-12-22 10:20] magnivar opened #375 "Gå över till SiteVisions egna sök"
Vi vill kunna använda SolR på malmo.se när vi i framtiden hanterar sidhuvud.

Etablera SolR sök på www.test.malmo.se och få till "formel" som ger relevanta resultat

[2018-01-04 12:49] magnivar opened #376 "Sidfotsmenyn renderar olika"
I sidfoten (SV's sidfot) så verkar det finnas ett instabilitetsproblem.
Det gäller länken till Anslagstavla som syns ibland och ibland inte. När den inte syns finns en extra A-Ö länk nederst.
För mig fungerar det i Win10-Chrome och IE11 men inte i Edge samt på en iPad så syns den varken i Safari eller Chrome.
Sven säger att den syns i Edge, Firefox, IE11 och Chrome på hans dator så det är svårt at

[2018-01-09 10:11] badwiz commented on #376
Ser samma sak i Chrome för Android, Anslagstavla saknas och A-Ö finns två gånger.

[2018-01-09 10:52] badwiz commented on #374
Blockera hela webbplatsen från alla sökmotorer:

User-agent: *
Disallow: /

[2018-01-09 11:05] badwiz commented on #376
Kan det vara så att Google tag-manager är inblandat och "letar" efter länken Anslagstavla? Det är ju nytt för i år antar jag.

[2018-01-09 15:50] magnivar commented on #376
Anlagstavlan är ny sedan november december. Hur kan GTM påverkar hur en meny i SV visas?

[2018-01-10 13:05] badwiz commented on #376
Vi märkte att det var något javascript som påverkade länken Anslagstavla. Stängde man av javascript fungerade allt som det skulle nämligen.

Nu ser vi dessutom att allt fungerar som det ska igen. Har ni gjort någon förändring någonstans? Våra "fel" är nämligen borta nu ser vi.

[2018-01-10 14:40] magnivar commented on #376
@Svempan @perber14 @Emmlin4 Kan ni återskapa felet som varit?

[2018-01-10 14:51] magnivar commented on #366
@elilun14 @fredrikwittbjer
Kan ni kolla sidan och ge feedback?
https://komin.test.malmo.se/4.79ff2ce11606aebb8172a3f3.html

[2018-01-10 14:54] magnivar commented on #373
Denna är ersatt av https://github.com/malmostad/sv-webbvideo/issues/9

[2018-01-10 14:54] #373 closed, assigned to magnivar

[2018-01-10 14:57] magnivar commented on #371
Vi rensar RSS:er @Svempan

[2018-01-10 15:03] magnivar commented on #329
30 Augusti 2017 ... är det inte dags att svara @Svempan ?

[2018-01-10 15:46] magnivar opened #377 "En sida har dubbla sidfötter från WAGen"
Vi förstår inte hur det kan går och vi hittar inte nåt i SV som orsakar det.
Se bild! Vad har vi missat:
![image](https://user-images.githubusercontent.com/22590738/34781325-d7bd199c-f625-11e7-86ac-3523ce820b76.png)

[2018-01-10 16:00] Svempan commented on #329
OK. Funkar i TEST men inte i PROD

[2018-01-10 16:06] Svempan commented on #376
Jag har aldrig upplevt det själv. Känns lite som månlandningen. Man vet inte vad man ska tro..

[2018-01-10 16:08] magnivar commented on #329
@badwiz Kan du läsa in dig på denna och fundera vad som kan göras?

[2018-01-11 07:07] badwiz commented on #377
Har något med javascript att göra. Det är via javascript som sidfoten laddas och den verkar köras dubbla gånger.

[2018-01-11 07:10] badwiz commented on #377
För att utesluta nätverksproblematik skulle vi kunna testa att gå med "localhost" när man befinner sig på servern fysiskt (eller remote). Om sidan renderas rätt då så är det något med nätverket som påverkar javascript/html.

[2018-01-11 07:30] badwiz commented on #329
Jag behöver ha liten guidning om vad "Påverkansytan" är för någon yta. Alla alias från startsidan, de som ligger i de båda sidfötterna, fungerar som de ska. Men jag antar att det är något annat som avses. Gärna länk och bild för tydlighetens skull.

[2018-01-11 09:12] henrikekelof commented on #377
Problemet löst. Tog bort detta ur Tillägg i HEAD från gamla gränssnittet:

    ##
    ## $Rev: x
    ## $Date: x
    ## GitHub repository: https://github.com/malmostad/sitevision_assets
    ##
    <script type="text/javascript">var runSurvey = true;</script>
    #set($assetUrl = "//assets.malmo.se/external/v4") ## no trailing slash
    <meta content='width=device-width, initial-scale=1.0' name='vi

[2018-01-11 09:12] #377 closed, assigned to badwiz

[2018-01-11 09:15] badwiz commented on #329
Behöver inte guidning längre. Hittade Påverkansytan när vi felsökte dubbla sidfoten

[2018-01-11 10:48] magnivar commented on #376
Ser ut hos de jag kollat med att det fungerar som det ska nu!

[2018-01-11 10:48] #376 closed, assigned to magnivar

[2018-01-12 08:47] olajoh1 commented on #366
Designen följer inte WAG

[2018-01-12 09:00] elilun14 commented on #366
Funktionen i sig fungerar, men färg, typsnitt och storlek på texten i rubriken behöver anpassas till vad som gäller för Komin (vilket bör finnas dokumenterat här på Github någonstans...?).

[2018-01-12 09:26] henrikekelof commented on #366
Inga problem! Jag uppfattade det som att den såg rätt ut och att det bara var problem med att den inte fungerade. Men jag kan göra om utseendet enligt WAG som jag hittat här: https://malmostad.github.io/wag-intranet-v3/

[2018-01-12 10:17] badwiz commented on #329
Fixat (inte i mallen ännu), men behöver verifiera detta med hur det är löst på test.malmo.se. Väntar på att min VPN ska hoppa igång.

[2018-01-12 11:00] israelsson commented on #370
Hej!

Har gjort en lösning för detta nu. Den finns bara på komin.test.malmo.se än så länge så ni får kontrollera först.

Nu ligger det två brödsmulor så ni kan jämföra. Den nya är den undre och den är även blå för att den ska synas tydligt.

Kontrollera om det verkar OK så kan vi lägga över det på den skarpa servern.

Mvh
Anders Israelsson

[2018-01-12 11:39] olajoh1 commented on #370
Ser korrekt ut på de 15 sidor jag har kollat.

[2018-01-12 14:31] henrikekelof commented on #366
Testsidan är uppdaterad med ny funktion/utseende.

Jag gjorde så att fäll ut-/in-funktionalitet är inaktiverad i redigeringsläget så att det blir lättare för redaktören att se texten och redigera den.

https://komin.test.malmo.se/4.79ff2ce11606aebb8172a3f3.html

![screen shot 2018-01-12 at 15 27 58](https://user-images.githubusercontent.com/186166/34879377-4f2b11fe-f7ad-11e7-84d6-f29143370ea7.png)

[2018-01-12 14:52] elilun14 commented on #366
Det behöver vara ett plus istället för den lilla pilen, för att man ska förstå att det går att klicka och att det finns något "under". (Det må vara att pilen finns i den tidigare komindokumentationen men vi vet att den inte förstås, så använd ett plus.)

[2018-01-15 07:12] badwiz commented on #370
@magnivar ska vi tolka detta som att vi flyttar över till PROD?

[2018-01-15 10:10] henrikekelof commented on #366
@elilun14 Har nu ändrat till ett plus som blir ett kryss för att stänga. Testa igen och kolla om det ser  OK ut.

[2018-01-15 11:20] perber14 commented on #359
Ser bra ut på Tjänster & blanketter, tycker jag. Kanske att du ska öka avståndet mellan sista linje ovanför en ny rubrik, så blir det lite mer lättsmält.

Däremot ser det inte så bra ut på övriga webbplatsen, typ såhär:

![image](https://user-images.githubusercontent.com/22030097/34940025-4c6beb1c-f9ee-11e7-93ca-e13a0a457c30.png)

Hur kommer vi runt det? Varför är där ett komma efter ingenting?

[2018-01-15 12:48] henrikekelof commented on #359
@perber14 Nu har jag testat lite, och det verkar som att det är en SiteVision-bugg. Om jag tar bort egen ikon på PDF så visas filändelsen. Lägger jag tillbaka egen ikon så försvinner den igen. Så - snabbfixen är att ta bort egen ikon (eller filbeskrivning). Långsamma fixen är tyvärr att rapportera till SiteVision och vänta på en fix. Vill ni rapportera den buggen eller ska jag?

[2018-01-15 15:00] elilun14 commented on #366
@henrikekelof  Bra. Dock ska "fäll ihop" illustreras som ett minustecken och inte ett X. (Kryss är lika med "ta bort")

[2018-01-15 15:06] fredrikwittbjer commented on #366
@henrikekelof Rubriken måste göras tydligare för att öka call-to-action-värdet. Kan vi feta texten (till exempel via att använda H3)?

[2018-01-15 15:22] henrikekelof commented on #366
@fredrikwittbjer OK, vill ni då att vi avviker från er WAG här? Jag hittar inte någon box där med fet stil https://malmostad.github.io/wag-v4/typography_and_articles/#article-boxes

@elilun14 Håller inte med om att kryss betyder ta bort, men jag ändrar :)

[2018-01-15 15:38] fredrikwittbjer commented on #366
[Testa att använda denna](https://malmostad.github.io/wag-intranet-v3/boxes/), där bakgrundsfärgen ändras. Då kanske inte texten behöver fetas, men man kan ändå urskilja att det är en call to action. :)

![image](https://user-images.githubusercontent.com/31471269/34950038-39415b0c-fa12-11e7-9131-1de00c029422.png)

[2018-01-15 16:01] henrikekelof commented on #366
Status just nu > Har gjort fet stil i rubrik och +/-.
![screen shot 2018-01-15 at 16 56 51](https://user-images.githubusercontent.com/186166/34951055-4b0cb1ee-fa15-11e7-88de-84d0edacf2d4.png)

[2018-01-16 09:34] perber14 commented on #374
Har ni gjort det? Annars är det bara att köra!

[2018-01-16 09:37] olajoh1 commented on #372
ok

[2018-01-16 09:37] #372 closed, assigned to olajoh1

[2018-01-16 09:38] olajoh1 commented on #369
ok

[2018-01-16 09:38] #369 closed, assigned to olajoh1

[2018-01-16 09:39] perber14 commented on #367
Har du kollat detta, @badwiz ?

[2018-01-16 10:31] israelsson commented on #375
Hej!
Jag har gjort ett provskott på test.malmo.se med sitevisions egna sök. Det är bara en snabb uppsättning så allt kanske inte ser OK ut i alla browsers men det ger säkert ett hum om vad man kan göra med den inbyggda söken.

Ni hittar den på:
https://www.test.malmo.se/4.719e72ae160e0f98c2552224.html

Mvh
Anders

[2018-01-16 10:38] perber14 commented on #359
Rapportera gärna!

[2018-01-16 10:48] perber14 commented on #359
Annat exempel på där det ser kajko ut (test.malmo.se/foretagande-jobb):

![image](https://user-images.githubusercontent.com/22030097/34985048-26bc40cc-fab3-11e7-8369-96446812eff5.png)

[2018-01-16 10:51] badwiz commented on #374
Nej, jag har tänkt att göra detta. Men min VPN vill inte fungera. Har anmält detta till @magnivar som drar det till IST. Här måste vi ju komma åt filerna, inte bara SiteVision.

[2018-01-16 10:56] badwiz commented on #367
Ja @perber14 , vi gjorde en fix för detta igår. Kolla på https://malmo.se/4.685fbbb5160dbb463c21f4f5.html
Ej publik sida, så du måste logga in för att se denna. Vi har även fixat Alias-hanteringen och det gäller Påverkansytan långt ner på sidan, för att inte påverka mallen i detta läget.

[2018-01-16 10:56] badwiz commented on #329
Detta är fixat på denna sida: https://malmo.se/4.685fbbb5160dbb463c21f4f5.html Påverkansytan som ligger långt ner på sidan.

[2018-01-16 12:54] henrikekelof commented on #360
Har åtgärdat allt som jag ser att vi kan åtgärda och markerat i PDF:en (länk nedan).

Ytterligare kommentarer:

- Nya spellisteelementet åtgärdar två av punkterna, men det är bara importerat till Prod, ej Komin. Gamla portlets i sidor är inte heller utbytta. Det går bra att göra det när som helst, men är det vi som ska ta den pucken eller ska ni göra det?

- Länken "Fler filmer" i elementet går ti

[2018-01-16 12:57] henrikekelof commented on #366
@fredrikwittbjer @elilun14 Är det OK med senaste utseendet eller vill ni göra ytterligare ändringar?

[2018-01-16 13:16] henrikekelof commented on #359
Jag har rapporterat det här nu, se nedan. Ärendenr #1801-390.

[2018-01-16 14:01] perber14 commented on #359
Tack för det!

[2018-01-16 15:03] perber14 commented on #374
Gott! Då är den på rull (Magnus jiddrar ju med att fixa VPN-problemet).

[2018-01-16 15:10] olajoh1 commented on #375
Jag har gjort ett första test med 20 sökord.

Resultat:
Siteseeker 17 korrekta träffar på första plats
Sitevision 10
Google 18

Jag tror att resultaten kan förbättras avsevärt om de olika filtyperna får olika vikt.

Kan ni ställa motorn så att följande filtyper får olika vikt enligt nedan (vi kommer att få tweaka men börjar så här):

Sidor - 100
PDF - 60
Officedokument - 40
BIlder - 20
Video - 60

[2018-01-17 13:27] henrikekelof commented on #272
@olajoh1 @magnivar Det finns inga inställningar för epost på serverobjektet. Vi kommer inte att kunna skicka epost till någon utan det. Har ni en SMTP-server som ni vill använda där?

![screen shot 2018-01-17 at 14 20 58](https://user-images.githubusercontent.com/186166/35044737-c6d0888c-fb91-11e7-87c0-17c7b1463146.png)

[2018-01-17 14:09] henrikekelof commented on #272
@olajoh1 @magnivar
Ett första utkast finns för påseende här:
https://www.test.malmo.se/Teststruktur/Henrik/Synpunktshantering.html

+ Sparar Ja/Nej som betyg på sidan med standardfunktionalitet
+ Metadata för att visa / dölja formuläret
- Kan ej skicka mail

Det finns möjlighet att göra en särskild adminsida där man kan lista alla sidor som har fått svar och visa hur bra betyg de fått.

Vilka meta

[2018-01-17 14:38] olajoh1 commented on #272
Vad betyder "Kan ej skicka mail"?

[2018-01-17 14:41] henrikekelof commented on #272
@olajoh1 Se min kommentar ovanför. Det finns inte email inställt i SiteVision, så det går inte att skicka mail därifrån. Mitt första utkast gör därför det den ska utom att skicka ett mail till någon.

[2018-01-18 07:29] magnivar commented on #272
Alla SV-servrar ska skicka via relay.malmo.se, de har inga egna mailkonton.

[2018-01-18 07:31] magnivar commented on #366
@fredrikwittbjer @elilun14 Är det OK med senaste utseendet eller vill ni göra ytterligare ändringar? :)

[2018-01-18 07:47] henrikekelof commented on #272
@magnivar Ser att du eller någon fixat SMTP-inställningarna, och jag har testat att det funkar. Det var bara det som saknades. Tackar!

[2018-01-18 07:49] henrikekelof commented on #272
@olajoh1 @magnivar Det jag behöver veta nu är hur ni vill styra vem som ska få email. Vilket/vilka metadatafält med adresser/användare vill ni att mail ska gå till?

[2018-01-18 07:54] elilun14 commented on #366
Hej! Den ser märklig ut på test, eller har jag inte senaste länken? https://komin.test.malmo.se/4.79ff2ce11606aebb8172a3f3.html

[2018-01-18 07:58] henrikekelof commented on #366
@elilun14 Nej, sorry. Det var en miss av mig. Kolla igen :)

[2018-01-18 07:59] israelsson commented on #375
Hej!

Nu har jag lagt in söken på malmo.se också, länken är http://malmo.se/4.685fbbb5160dbb463c2a34d8.html

Mvh
Anders

[2018-01-18 08:01] elilun14 commented on #366
Tack @henrikekelof - jag tycker det ser bra ut nu. @magnivar @fredrikwittbjer

[2018-01-18 08:06] fredrikwittbjer commented on #366
Håller med! @magnivar @elilun14 @henrikekelof

[2018-01-18 08:25] henrikekelof commented on #272
@olajoh1 @magnivar Så här kommer ett skickat mail se ut när man får det. Kommentera gärna på om det är något ni vill justera. Efter uppgradering till SiteVision 4.3 så kommer det vara möjligt att skicka mail som HTML, men så länge ni ligger på 4.2.x så är det bara plain text som är tillgängligt.

![screen shot 2018-01-18 at 09 22 00](https://user-images.githubusercontent.com/186166/35087600-143534

[2018-01-18 08:30] henrikekelof commented on #366
Fint! Ska jag flytta över det här till komin Prod då @magnivar ?

[2018-01-18 08:52] perber14 commented on #354
Vi har kikat på det nu.

Såhär vill ha det:

Kort citat: Ingen uppmärkning för besökarna, alltså inga fnuttar - vare sig stora eller små. Däremot bibehållen uppmärkning i koden (som det är nu).

Blockcitat: Uppmärkt med små fnuttar, som ligger som de som nu finns på "Kort citat" för besökarna:
![image](https://user-images.githubusercontent.com/22030097/35088809-2f4f9490-fc35-11e7-9bb5-cf81b1f7f3d9

[2018-01-18 09:45] magnivar opened #378 "Bildbeskrivningen syns inte på nyhetslistning"
Nyhetslistningen på t.ex. förstasidan (finns på fler sidor) visar inte ALT-texten som tillhör bilden.
![image](https://user-images.githubusercontent.com/22590738/35091262-5c5c995e-fc3c-11e7-88d3-78b12fa723fd.png)

Det finns oftast en ALT-text på bilden i nyheten. (När man klickar)

I ett vidare perspektiv, går det att tvinga att man skriver bildbeskrivning när man laddar upp en bild?

[2018-01-18 10:12] badwiz commented on #378
Lösningen är via skript och där har inte alt-texten hämtats (saknas kod för detta alltså). Vi fixar till detta.

[2018-01-18 10:49] magnivar commented on #366
Jag gör ett nytt issue för malmo.se så kan @perber14 först komma med sina grafiska (färger) val.
Lägg detta på PROD och bolla över till mig så verifierar vi och stänger denna.

[2018-01-18 10:51] magnivar opened #379 "Implementera Fäll ut/Fäll in på malmo.se"
Samma funktion av Fäll ut/Fäll in som på komin (https://github.com/malmostad/sitevision_assets/issues/366) men kanske med andra färgval.
@perber14 anger preferenser

[2018-01-18 11:58] perber14 commented on #379
Vi börjar med:

Ljusblå bakgrundsplatta och kantlinje (den ljusblå vi har i topplisten på malmo.se)
Svart rubrik för boxen
Svart plus/minus
Ljusgrå bakgrund i själva boxen när den fälls ut

Detta är förlagan:

![image](https://user-images.githubusercontent.com/22030097/35097118-27be6e3a-fc4f-11e7-85b5-8a95a11ef921.png)

Skillnaden blir alltså att vi vill ha en ljust grå bakgrund på malmo.se, efter

[2018-01-18 12:00] perber14 commented on #366
@elilun14 @fredrikwittbjer Varför har ni inte samma färg på plattan som de här har? Kommer synas mycket bättre?
![image](https://user-images.githubusercontent.com/22030097/35097211-7cd2b8c2-fc4f-11e7-94e4-497641512d82.png)

[2018-01-18 12:01] henrikekelof commented on #365
@magnivar En fråga om "frångå WAG-responsivitet och använda SiteVisions egna responsivitet":

Hur strikt tänker du dig att saker ska använda SiteVision-grids? Ofta använder man grids för en del saker men skriver egen CSS (fil i filarkiv) för andra. Kan ni tänka er att en del CSS fortfarande får leva kvar men kanske ligga som en fil i SiteVision?

Ett exempel: Länkarna på startsidan ligger i tre ko

[2018-01-18 12:14] magnivar commented on #379
Med andra ord som på http://pauliskolan.malmo.se/utbildningar/samhallsvetenskapsprogrammet.html?

[2018-01-18 12:15] perber14 commented on #379
Japp, med undantag för bakgrundsfärgen då!

[2018-01-18 12:16] magnivar commented on #379
Idé på ljusgrå?

[2018-01-18 12:18] perber14 commented on #379
Nej, inte hex-mässigt. Men ljust grå. Läsbarheten måste ju vara bra med den svarta texten.

[2018-01-18 12:18] henrikekelof commented on #366
Jag valde bort den mörka plattan p.g.a det som står i WAG: "This type of box must not be used in article content" https://malmostad.github.io/wag-v4/other_page_elements/#boxes-for-application-views

För den ljusa boxen står det "A box suitable for related content":
https://malmostad.github.io/wag-v4/typography_and_articles/#article-boxes

Det är fullt möjligt att jag har tolkat avsikten fel, men d

[2018-01-18 12:19] magnivar commented on #379
Då kör vi på det och skickar detta till Bouvet

[2018-01-18 12:21] elilun14 commented on #366
@henrikekelof Helt rätt med den ljusa för Komin, så vi kör på den. (@perber14 Säger intranätansvarig :-).)

[2018-01-18 12:27] perber14 commented on #366
o7

[2018-01-18 12:34] henrikekelof commented on #379
@perber14 Ett par frågor:
- Ska boxen ha samma utseende som komin förutom färgvalen (runda hörn, tunna kantlinjer etc) eller ska den vara kantig och fetare som den bild du postade?
- Blå topp och kantlinje är inte enl. WAG. Är det OK att avvika i detta fall?

[2018-01-18 12:43] henrikekelof commented on #366
Nu finns rutan i prod för Komin. Testsida: https://komin.malmo.se/4.132262a160fdc3380f9bd69.html

[2018-01-18 12:49] magnivar commented on #366
@fredrikwittbjer verifierar :)

[2018-01-18 12:52] fredrikwittbjer commented on #366
Ser bra ut! En liten grej bara @henrikekelof: rubriken fetas i redaktörsläget. Går det att fixa?

[2018-01-18 12:54] henrikekelof commented on #366
@fredrikwittbjer Ah, bugg! Tanken är att den ska vara fet i båda lägena enligt det vi pratade om häromdagen.

[2018-01-18 12:56] henrikekelof commented on #366
Nu fixat så inte fet stil faller bort.

[2018-01-18 13:02] fredrikwittbjer commented on #366
hej igen @henrikekelof, förlåt men det måste blivit ett missförstånd. Vi skulle gärna se att den inte har en fetad text. Annars är vi mycket nöjda och anser att så fort texten är tillbaks i regular så blir det slutversionen :)

![image](https://user-images.githubusercontent.com/31471269/35099373-11ce4d80-fc58-11e7-947d-0ae085dbef09.png)

[2018-01-18 13:04] henrikekelof commented on #366
Testa igen nu. Sorry. Jag hängde inte med i alla turerna.

[2018-01-18 13:05] elilun14 commented on #366
Tack, helt rätt så @henrikekelof - slutversion!

[2018-01-18 13:12] fredrikwittbjer commented on #366
:100:

[2018-01-18 13:20] magnivar commented on #366
Toppen! Bra jobbat allihopa.. nu stänger vi 💃

[2018-01-18 13:27] henrikekelof commented on #379
Min tolkning finns på https://www.test.malmo.se/4.719e72ae160e0f98c258aeea.html:
![screen shot 2018-01-18 at 14 26 45](https://user-images.githubusercontent.com/186166/35100306-aa8440c2-fc5b-11e7-89f1-1207d5634a39.png)

[2018-01-18 13:45] perber14 commented on #379
Vi provar att utgå från den du nu har i bilden ovan och ersätt det blå med hex #e8e8e8. Samt gör bakgrunden i boxen vit.

[2018-01-18 13:47] henrikekelof commented on #379
![screen shot 2018-01-18 at 14 47 38](https://user-images.githubusercontent.com/186166/35101104-8f8be45c-fc5e-11e7-82df-78b4c18c51f2.png)

[2018-01-18 13:57] perber14 commented on #379
Topp!

Prova att sätt kantlinjen i hex #757575!

[2018-01-18 14:34] henrikekelof commented on #379
![screen shot 2018-01-18 at 15 33 51](https://user-images.githubusercontent.com/186166/35103035-0887e8aa-fc65-11e7-8782-8abf5f677dcd.png)

[2018-01-19 08:03] perber14 commented on #379
@henrikekelof Designmässigt OK! Men vi vill att den kan ha en rubrik som är längre än en rad. Som här:

![image](https://user-images.githubusercontent.com/22030097/35140446-8f08bd40-fcf7-11e7-82f4-eff816a9604d.png)

Plus/minus centreras vertikalt. Se http://srvsusesvprod05.malmo.se/4.638cf67815fc0dc45db4178.html (Magnus trodde att du kommer åt den?).

[2018-01-19 09:15] henrikekelof commented on #379
@perber14 Inga problem:
![screen shot 2018-01-19 at 10 14 51](https://user-images.githubusercontent.com/186166/35143381-a32ed192-fd01-11e7-96f5-6bb8f649d562.png)

[2018-01-19 09:57] olajoh1 commented on #272
*Mail ska gå till minst två mailadresser, alltid till en central utpekad adress samt till en eller flera redaktörer. Uppgifter i befintliga metadata kan inte användas utan nya meta måste sättas upp.
*Adresserna ska vara möjliga att ärva tillsammans med aktiveringen av modulen.
* Admingränssnitt, ja.

[2018-01-19 10:17] henrikekelof commented on #272
@olajoh1 Jättebra. Den centrala adressen - vill ni ha den som ett metadata med arv, eller ska jag sätta den direkt i scriptmodulen? Det förstnämnda är bra om ni vill kunna ändra den och kanske bryta arvet. Sätter vi den i scriptmodulen så blir den mer dold och går inte att ändra om man inte ändrar i mallen.

[2018-01-19 11:01] badwiz commented on #375
VI har en plan:
1. Bouvet fixar indexering under fredag eftermiddag (19/1)
2. Bouvet uppdaterar sökmodulen med rätt index
3. @olajoh1 verifierar sökträffar under v4
4. Bouvet fixar boosting av olika filtyper v5
5. @olajoh1 verifierar sökträffar efter boosting v5
6. Uppsättning av Nutch fär webcrawling under v5-v6

[2018-01-19 11:22] olajoh1 commented on #272
Vi sätter den som ett metadata med arv.

[2018-01-19 11:50] magnivar commented on #371
Efter gårdagens nedgång har ord växlats och ITS och SVAB har sagt lite olika saker.
Jag tycker vi försöker ta ett nytt grepp om den översyn som inleddes 2016.
Vi kan ju göra vissa saker själva, t.ex. att rensa bort oanvända RSSer (@Svempan) men att få en lista på saker att titta på extra vore att föredra.
Bifogar lite kommentarer från ITS
[Logg-saker_2018-01-18.txt](https://github.com/malmostad/si

[2018-01-19 12:35] henrikekelof commented on #272
Nu finns detta klart för test på alla sidor med mallen Normalsida.

- Metadata sätts på huset för globala adressen
- Metadata för att visa eller inte visa synpunktsformuläret
- Metadata för att lägga till fler mottagare på specifika sidor

Alla metadata ärvs.

[2018-01-19 12:38] henrikekelof commented on #272
Jag ser att någon redan har gjort ungefär samma sak, för det finns befintlig metadata och ett befintligt formulär. Därför blir det lite kladdigt och möjligen förvirrande med många metadata i sidorna som heter Synpunkt-någonting men som fungerar för olika formulär. Ska det gamla formuläret och dess metadata tas bort ur mallarna? Används det? Det finns även i produktion (se bilder)

![screen shot 20

[2018-01-19 12:46] henrikekelof commented on #272
Här finns en sida som listar alla sidor som har fått minst ett svar (ja eller nej):
https://www.test.malmo.se/edit/4.719e72ae160e0f98c259a942

[2018-01-19 12:48] henrikekelof commented on #272
@olajoh1 @magnivar Bollar över denna till er nu för testning. Läs gärna mina tre kommentarer innan först.

[2018-01-19 13:05] henrikekelof commented on #379
@perber14 Du assignar mig igen om du är nöjd och vill att jag flyttar detta till prod va?

[2018-01-19 13:22] badwiz commented on #371
ITS kommentarer är befogade. Jag kollade igenom RSS-länkarna och de sidorna är antingen borttagna eller avpublicerade. Så det är klart det blir time-out. Sen är det första exemplet till mynewsdesk, så om de inte svarar så ligger det ju utanför SiteVision.

[2018-01-19 13:31] olajoh1 commented on #272
Du kan ta bort gamla metadata

[2018-01-19 13:37] henrikekelof commented on #272
👍
En sak till: Jag är inte helt bekant med hur ni har satt upp era behörigheter, så just nu visas all "min" metadata för alla. Vill ni ha det annorlunda så får ni gärna ange vem som ska se vad.

[2018-01-19 13:42] israelsson commented on #378
Hej!
Nu ska detta vara fixat i prod. Man måste bara sätta en alt-text på bilden i artikeln så ska den skrivas ut i html-koden.

Mvh
Anders Israelsson, Bouvet

[2018-01-19 13:48] magnivar commented on #378
@Svempan Verifiera och stäng ärendet om det är klart!

[2018-01-19 14:03] olajoh1 commented on #272
Exempelsida:
https://www.test.malmo.se/Social---familjefragor/Hemloshet.html

Om jag kryssa i ärv värde ändras Ja till Nej.
Om jag lägger till mottagare och kryssa i arv så tas mottagaren bort.
Om jag publicerar med Ja men utan arv visas ändå modulen på underliggande sida.

[2018-01-19 14:16] henrikekelof commented on #272
Jag har satt defaultvärdet till Nej för om den ska visas eller ej. Vill ni hellre ha Ja?

Mottagare (sidspecifik) har inget inkommande värde om den inte ligger under en sida som har värdet. Man får sätta det på en sida och så ärvs det ner till dess undersidor.

På huset finns Mottagare (global) som alltid får meddelanden från alla sidor.

Vid metadataarv kan du inte i nya gränssnittet förhindra at

[2018-01-22 07:55] perber14 commented on #379
@henrikekelof Japp! Vi är snart redo! Men vi vill ha in den linje som finns på gywebbarna, som lite ringar in plus/minus. Det hänger för mycket i luften annars (framförallt när rubrikplattan är två rader tjock).

Kan du kika på det?

[2018-01-22 07:58] henrikekelof commented on #379
@perber14 Yes, jag tar det inom de närmsta timmarna. Tänker du en vit eller svart linje? Om det ska vara svart linje bör man nog dra en svart linje i botten av rubriken också för att rama in. Vit linje går nog bra att bara lägga dit som det är.

[2018-01-22 07:59] perber14 commented on #379
@henrikekelof Prova med en vit först så ser vi hur det känns. Blir det för mesigt provar vi svart.

[2018-01-22 09:08] henrikekelof commented on #379
![screen shot 2018-01-22 at 10 08 05](https://user-images.githubusercontent.com/186166/35212936-2bbf7a5a-ff5c-11e7-973d-813b502a6b67.png)

@perber14

[2018-01-22 09:54] henrikekelof commented on #368
Man ser det i Response Headers, Content-Encoding:gzip (bild 1). Man kan också köra Google PageSpeed Insights och se om man får anmärkningar:
https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fmalmo.se%2F

Det finns en fil som inte blir gzippad, och det är den CSS-fil som byggs i detta projekt, http://malmo.se/local-assets-v4/application.css (bild 2).

Finns det någon tanke kr

[2018-01-22 10:07] magnivar commented on #370
Ja, flytta till PROD och meddela oss.

[2018-01-22 10:09] magnivar commented on #329
@Svempan Kan du kolla att det blivit rätt?

[2018-01-22 13:27] henrikekelof commented on #365
Jag har labbat lite på dev.malmo.se och kommit fram till följande:

Mallarna är ganska enkla i sitt upplägg. Det "responsiva" i den mening att man använder brytpunkter och ändrar antal kolumner görs relativt enkelt om till SiteVisions grids om man bygger om mallarna.

- Sidhuvud och sidfot bör flyttas in i SiteVision.
- JavaScript och CSS bör flyttas till SiteVisions filarkiv
- Lite kod bör tas bo

[2018-01-22 14:39] magnivar commented on #365
@henrikekelof Tack Henrik, bra och utförlig info. Vi tar detta en vända internt.

[2018-01-22 15:43] olajoh1 commented on #375
Är p. 2 klar? @israelsson

[2018-01-22 16:04] Svempan commented on #329
Förstår inte. Där ligger tre påverkansytor. Ingen av dem länkar till ett alias. Och de ligger som javascript på sidan?

[2018-01-22 16:18] Svempan commented on #378
Hur kontrollerar man det? I koden bara, eller?

[2018-01-23 07:37] magnivar commented on #360
@henrikekelof Jag är osäker på om spellisteportleten används överhuvudtaget på komin. Kan man kolla det på något sätt? Annars är det ju bara att lägga till det elementet även på Komin (PROD).

[2018-01-23 08:20] perber14 commented on #379
@henrikekelof Ser bra ut! Men fixa den här lillskiten:

![image](https://user-images.githubusercontent.com/22030097/35264856-96b44094-001e-11e8-86f8-4721076d9cbc.png)

[2018-01-23 08:24] henrikekelof commented on #360
@magnivar Jo, den finns på några ställen. Sidan Vår kommun och flera av förvaltningarnas startsidor. Men det är inget som hindrar heller. Vill du att jag lägger ut elementet eller ska du?

[2018-01-23 08:28] henrikekelof commented on #379
@perber14 Vilken webbläsare har du där? Jag kan inte återskapa i Firefox, Safari eller Chrome i alla fall. Har du IE/Edge?

[2018-01-23 08:37] henrikekelof commented on #379
@perber14 Nu har jag återskapat det i IE11, om jag zoomar till 125%, 150%, 225%, 250%, och i Chrome med zoom 250% etc. Så, jag vill nog hävda att det är bra som det är. Kan inte specialhantera en massa olika zoomnivåer i olika webbläsare.

[2018-01-23 09:43] perber14 commented on #379
@henrikekelof Dåså! Tack. Vi betraktar den som klar.

Invänta vår signal för överföring till prod (vi ska reda ut en redaktionell fråga innan dekorationen sjösätts).

[2018-01-23 09:43] henrikekelof commented on #379
Absolut. Bara assigna ärendet så fixar jag.

[2018-01-23 12:11] magnivar opened #380 "Avstängda moduler"
Vi har fått mail:
Skickat: den 22 januari 2018 17:24 från servern
![image](https://user-images.githubusercontent.com/22590738/35275048-b668bac6-003e-11e8-9841-a0775015195e.png)

http://www.malmo.se/4.4ecfe75e1245d91676080004890.html

Vad innebär detta?
Skapar detta massa loggrader?

[2018-01-23 12:16] magnivar opened #381 "Lägga SpellisteVideoModulen på komin PROD"
Lägg SpellisteVideoModulen på komin PROD

[2018-01-23 12:18] magnivar commented on #381
Assigna @fredrikwittbjer när det är gjort så verifierar han och stänger ärendet :)

[2018-01-23 14:40] henrikekelof commented on #359
Svar från SiteVision idag (se nedan).

Det man kan konstatera är att buggen även finns i senaste versionen (4.3.1) och att det från och med 4.3 är omöjligt att ändra egna ikoner. Den funktionaliteten flyttas inte till nya gränssnittet. Det verkar inte jättebra löst från SiteVision-håll, och inte särskilt bra att sitta kvar med egna ikoner efter uppgradering till 4.3.

Mitt förslag på en alternativ

[2018-01-24 13:54] henrikekelof commented on #381
Klart. Testsida: http://komin.malmo.se/edit/4.135ada9214bfedef74c36b4b

OBS! De gamla modulerna för video är INTE ersatta på webbplatsen, men möjligheten att göra det finns alltså nu.

[2018-01-25 08:44] olajoh1 commented on #272
Vill du ersätta andra meningen under synpunktsformuläret med följande text, som länkas till länken nedan.

"Om du vill ha svar på en fråga hittar du kontaktuppgifter här."

http://malmo.se/Kontakta-Malmo-stad.html

[2018-01-25 08:45] olajoh1 commented on #272
Är det möjlig att skriva ner samtliga svar i en excelfil som läggs på lämpligt ställe?

[2018-01-25 10:10] henrikekelof commented on #272
Text + länk fixat:
![screen shot 2018-01-25 at 11 09 55](https://user-images.githubusercontent.com/186166/35382699-518bb8fa-01c0-11e8-857f-9aea55d2b573.png)

[2018-01-25 10:15] olajoh1 commented on #272
Första meningen skulle vara kvar. Nu ersattes både första och andra meningen.

[2018-01-25 10:17] henrikekelof commented on #272
Att skriva till en fil går _troligen_ att lösa. Det finns utmaningar kring behörighet att skriva i filarkivet, men det borde gå att få till. Jag har svårt att säga någon exakt tidsåtgång, men gissar 4-8 timmar eller i värsta fall något mer. Vill du att jag gör ett försök att få till en lösning? Ingen garanti alltså att det lyckas, men jag tror att det ska gå :)

[2018-01-25 10:20] henrikekelof commented on #272
Jag fattade fel på textändringen. Bättre så här?
![screen shot 2018-01-25 at 11 19 47](https://user-images.githubusercontent.com/186166/35383137-b4f6ab06-01c1-11e8-8ca8-4dcfea27a779.png)

[2018-01-25 10:21] olajoh1 commented on #272
Mycket bättre :-)

[2018-01-25 12:30] henrikekelof commented on #272
@olajoh1 Vill du att jag försöker göra ett försök att skriva meddelanden till en fil? Eller ska vi produktionssätta som den är nu?

[2018-01-25 12:35] olajoh1 commented on #272
Det är okej att du lägger 4-8 timmar på att skapa en excelfil enligt ovan

[2018-01-25 12:39] olajoh1 opened #382 "Bock (check mark)"
Skapa möjlighet att ersätta punkter/siffror i punktlista med bock (check mark) alt. lägga till bock (check mark) som symbol.

[2018-01-25 12:43] olajoh1 commented on #375
P. 3 klar --> dax för 4. Boosting

[2018-01-25 14:53] henrikekelof commented on #272
@olajoh1

Jag har lagt ett par timmar nu och det ser lovande ut. Måste skriva koden lite bättre och få in det i meddelandehanteringen, men jag kommer absolut att kunna hålla mig inom 8 timmar.

Det jag måste göra är att skapa en användare i SiteVision som får skrivbehörighet på en specifik fil i filarkivet (CSV). Jag kommer sen att anropa en särskild modul som med hjälp av den användaren skriver m

[2018-01-25 15:13] olajoh1 commented on #272
Bra. Osäker på vad du menar med "presenterar alla meddelanden i SiteVision"  Vad jag behöver är att kunna arbeta vidare med datan i excel.

[2018-01-25 15:16] henrikekelof commented on #272
Ja, du kommer få en CSV i filarkivet som du kan öppna i Excel. Jag kan ganska enkelt göra en snygg sida i SiteVision också som visar innehållet från filen och ger dig en nedladdningslänk, om du bara vill kunna surfa in och kolla ibland.

[2018-01-25 15:26] Emmlin4 opened #383 "Rubrikbyte på träd"
Behöver byta namn på grenen "Förskola och pedagogisk omsorg" till "Förskolor & familjedaghem" på malmo.se. I grenen ligger alla förskolesidor (ca 250 st) samt alla Öppna förskolor med mera. Starkt besökstryck på sidorna så viktigt att Googleindexeringen inte bryts för dessa sidor när vi byter namn på grenen.

http://malmo.se/Forskola--utbildning/Forskola/Forskola-och-pedagogisk-omsorg.html

Är det

[2018-01-25 15:31] olajoh1 commented on #272
Kan du göra det utan att addera alltför mycket tid så absolut ja.

[2018-01-25 15:31] henrikekelof commented on #272
Det är den enklaste biten, så absolut :)

[2018-01-26 10:30] henrikekelof commented on #272
@olajoh1
Jag har en fungerande version i test nu:
http://www.test.malmo.se/4.719e72ae160e0f98c2575cc8.html

CSV-filen ligger här:
https://www.test.malmo.se/edit/2.33aee30d103b8f1591680000/file/19.df5bd2416127d1353a220dc

Sida som listar alla kommentarer finns här:
https://www.test.malmo.se/edit/4.df5bd2416127d1353a221b2

Jag fick problem på test då certifikatet inte är giltigt där, så jag var tvun

[2018-01-26 11:41] olajoh1 commented on #272
Vill du lägga till två fält/kolumner:

datum (då synpunkten lämnats)
ja/nej

URL:en får gärna tvättas så att den blir enklare att läsa:

http://www.malmo.se - kan tas bort
%2 - ersätta med / etc

[2018-01-26 13:46] henrikekelof commented on #272
@olajoh1 Har fixat datum och snyggare adress. Ja/Nej är överflödigt då det endast är på Nej som man får möjlighet att skriva kommentar, så alla kommer vara Nej :)

[2018-01-26 13:47] henrikekelof commented on #272
Sen har du en ladda-ner-knapp också på sammanställningssidan nu.

[2018-01-26 15:13] olajoh1 commented on #272
Nej, ja/nej är inte överflödigt. Vi vill veta både hur mycket tjänsten används och få statistik på hur inställningen förändras över tid till sidor/grupper av sidor.

[2018-01-29 08:39] perber14 opened #384 "Lägg till "Publicerad" för nyheterna"
Vi vill visa både "Publicerad" och "Senast uppdaterad" för våra nyheter:

![image](https://user-images.githubusercontent.com/22030097/35500868-448262a6-04d8-11e8-8800-7161bbc702e0.png)

Samma design och så vidare. På raden ovanför "Senast uppdaterad".

@magnivar Sätter den till dig så att du kan introducera Bouvet till den när det blir läge.

[2018-01-29 08:41] henrikekelof commented on #272
OK. Jag har lagt till Ja/Nej i en separat tabell. Kommentarerna lämnas bara på Nej, och listan över Ja/Nej är istället en sammanställning med summering. Det är två olika typer av hämtningar.

https://www.test.malmo.se/4.df5bd2416127d1353a221b2.html

[2018-01-29 11:48] olajoh1 commented on #272
Behöver ja/nej i csv-filen också

[2018-01-29 12:57] henrikekelof commented on #272
CSV-filen skrivs alltså bara för kommentarer, d.v.s då man redan har svarat nej och sen skickar in en kommentar. Har du kikat på de två tabellerna idag så att du ser hur datat ser ut? Jag kan fixa så att du kan ladda ner tabellen med ja-nej-statistik som CSV. Det kommer att bli en separat fil som genereras från tabellen, och den kommer inte att ligga i filarkivet.

[2018-01-30 08:14] israelsson commented on #370
Nu har jag lagt in det på PROD. Kolla av så att det stämmer.

[2018-01-30 08:18] magnivar commented on #370
Ser bra ut med de exempel som givits. @olajoh1 kan du också kolla och stänga ärendet om det är bra?

[2018-01-30 08:41] badwiz commented on #378
Ja, lite beroende på webbläsare, men kolla i koden så ser man att det alltid skrivs ut en alt-tagg för bilderna i Nyhetslistningen nu. Men om inte bilden har en alt-text i sin artikel kommer alt-taggen vara tom.

[2018-01-30 10:06] olajoh1 commented on #370
ok

[2018-01-30 10:06] #370 closed, assigned to israelsson, magnivar

[2018-01-30 10:08] badwiz commented on #380
Har inte sett detta förut, men om man kikar på sidan och modulen "Länkad modul" så har länkningen gått sönder. Den pekar inte på något just nu. Om detta ändras så kommer länkarna att visas och felemeddelandet försvinna. Detta är nog något som har varit fel länge och som CMS:et har kraschat. Sidan har inte ändrats sedan 2010...

[2018-01-30 10:39] fredrikwittbjer opened #385 "Lägga till en bildmodul i Objektmallen"
Nyhetsmallen har i dagsläget en "tom" bildmodul, se bild:

![image](https://user-images.githubusercontent.com/31471269/35561901-0dfc8a92-05b2-11e8-99b1-1e7f1da8d992.png)

Vi vill att även objektmallen ska få en sådan bildmodul inlagd i mallen, under rubrikmodulen. Anledningen till detta är att ifall vi inte har det så kommer objekt som visas upp i objektlistningar inte ha en utvald bild.

[2018-01-30 12:46] magnivar commented on #385
@fredrikwittbjer Har du en länk till den sida du jobbar med Objektsmallen på?
Kanske är bäst att skapa en ny Objektsmall ifall denna används på andra ställen?

[2018-01-30 15:01] fredrikwittbjer commented on #385
@magnivar Nej det har jag inte, ingen skarp iaf (bara interna instruktionsvideos). Men det finns ju på bland annat bibliotekens sidor, se:

http://malmo.se/Kultur--fritid/Biblioteken/Biblioteket-hemifran/Filmade-program-och-podcasts.html

[2018-01-31 07:22] badwiz commented on #375
P.4 klar
Dock är det så att för attt få bilder att rankas ännu lägre än andra träffar (de har redan lägre ranking än sidor default) måste detta skötas manuellt i sökmodulen (tips från coachen Magnus Lövgren) och inte via sökindexet som jag har satt upp detta just nu.

[2018-01-31 07:53] olajoh1 commented on #375
Inga märkbara förbättringar.

Vill du ändra i receptet

Sidor - 100
PDF -60 >>40
Officedokument - 40 ->> 20
BIlder - 20
Video - 60 >> 40

[2018-01-31 08:47] badwiz commented on #385
Som information är det ju inga problem att ändra i en mall när man infogar saker i en innehållsyta. Dessa kommer inte att skickas ut till redan skapade sidor. Endast saker som ligger utanför innehållsytorna påverkar redan skapat innehåll på webbplatsen. ALltså kommer denna extra bildmodul endast finnas tillgänglig på sidor som skapats efter att bildmodulen finns i mallen.

[2018-01-31 08:50] badwiz commented on #375
Fixar, men väntar till eftermiddagen med att köra en omindexering. Återkopplar när indexeringen är gjord, då kan du testa och se om det blir någon förändring.

[2018-01-31 09:04] badwiz commented on #363
Nu är detta fixat på test.malmo.se

[2018-01-31 10:40] Svempan commented on #329
Ser inte var jag kan verifiera?

[2018-01-31 10:48] Svempan opened #386 "UTB Komin UTB malmo.se"
Vi behöver två utbildningswebbar. En för Komin och en för malmo.se. Bör finnas på plats i februari.

[2018-01-31 11:34] badwiz commented on #329
@Svempan  https://malmo.se/4.685fbbb5160dbb463c21f4f5.html Detta är en dold sida med funktionen, så Påverkansytan är länkad med ett Alias.

[2018-01-31 12:09] israelsson commented on #354
Hej!

Jag har fixat detta på testservern. Vill ni kontrollera och återkomma.

Mvh
Anders

[2018-01-31 15:18] magnivar commented on #386
Jag har skapat subdomäner för kunna använda flera hus på utb-servern.
Jag föreslår att vi gör nya exporter av komin och malmi.se och kör upp på utb-servern.
Sen får servrarna kompletteras med portlets och koppling mot AD.
@badwiz synpunkter?

[2018-01-31 15:32] magnivar commented on #354
@perber14 kan du kolla ?

[2018-01-31 15:50] magnivar commented on #381
@henrikekelof vi hittar inte sidan att kolla på

[2018-02-01 07:42] henrikekelof commented on #381
@magnivar - Det var konstigt. Kan det vara att jag använde http i länken månne? Prova igen med https <https://komin.malmo.se/edit/4.135ada9214bfedef74c36b4b>

Annars ligger sidan här (se bild) och det går att hitta elementet/modulen under Bild och media / Videospelare spellista
![screen shot 2018-02-01 at 08 39 15](https://user-images.githubusercontent.com/186166/35666819-c2c44c92-072b-11e8-81cf-e

[2018-02-01 07:48] magnivar commented on #381
Ser kanon ut :) Tack!

[2018-02-01 07:48] #381 closed, assigned to fredrikwittbjer

[2018-02-01 07:49] olajoh1 commented on #367
ok, klart för prod

[2018-02-01 08:03] badwiz commented on #386
Har inte kikat på utb-servern, men AD-koppling borde väl redan finnas? Men jag ser inga problem med detta. Dock måste vi vara försiktiga och se till att det finns disk på PROD-servrarna för att genomföra en export. Och samma sak för UTB-servern, disk.

[2018-02-01 08:28] badwiz commented on #375
Ping @olajoh1 Nu är indexeringen klar med de nya värdena. Men för att hantera bilder får vi nog tweaka i modulen och inte bara i indexet enligt SiteVision.

[2018-02-01 08:37] badwiz commented on #374
Har inte glömt denna. Mitt VPN fungerar nu, men vi har inget fungerande konto på servrarna för att komma in. @magnivar håller på att leta reda på någon som kan ordna ett konto med SUDO.

[2018-02-01 08:39] badwiz commented on #367
Finns i PROD nu. Klart att stängas efter verifiering.

[2018-02-01 14:59] badwiz commented on #383
Kolla om vi kan hitta på en lösning som hanterar alla underliggande sidor så att de även får en 301:a. SV har endast sida-för-sida i gränssnittet.

[2018-02-01 15:05] badwiz commented on #380
Fixat! Översedd av @magnivar @Svempan

[2018-02-01 15:05] #380 closed, assigned to magnivar

[2018-02-02 08:02] israelsson commented on #384
Har fixat detta på test.malmo.se och mallen "Nyhetsmall". Kontrollera så att det blev som tänkt så kan vi lägga in det på prod om ni är nöjda.

[2018-02-02 08:53] perber14 commented on #384
@israelsson Vi var otydliga. Det är värdet "Skapad" som ska visas efter rubriken "Publicerad". Det ska alltså vara två olika värden som resultat:

"Publicerad" = metadata fältet "Skapad"
"Senast uppdaterad = metadatafältet "Senast publicerad"

[2018-02-02 09:46] Svempan commented on #329
Funkar! :)

[2018-02-02 09:52] magnivar commented on #329
Då stänger vi :)

[2018-02-02 09:52] #329 closed

[2018-02-02 09:53] olajoh1 commented on #375
Vill du justera receptet

Sidor - 100
PDF -60 >>40 >> 20
Officedokument - 40 ->> 20 >> 10
BIlder - 20 >> 10
Video - 60 >> 40 >> 20

P.S: Skicka gärna epostadress så kommer Siteimprove med vändande.

[2018-02-02 10:21] israelsson commented on #384
Ok, då har jag ändrat det nu.

[2018-02-02 10:33] perber14 commented on #384
@israelsson Topp!

Två saker: Minska utrymmet mellan de olika metadatafälten och korrigera så att det är kolon vid båda tidsangivelserna (istället för som nu punkt där uppe och kolon där nere):

![image](https://user-images.githubusercontent.com/22030097/35728713-bf6632b8-080c-11e8-9f7b-0a5ae77ea39d.png)

[2018-02-02 12:27] olajoh1 opened #387 "Åtgärda felsignaler från Siteimprove för malmo.se"
Använd upptill åtta timmar för att åtgärda de felsignaler från Siteimprove som visas i modulen Accessibility.

Lösningar som inte ryms inom ramen ovan dokumenteras i tickets som vi tar ställning till.

@magnivar

[2018-02-02 12:30] israelsson commented on #384
Fixat!

[2018-02-02 12:51] olajoh1 opened #388 "ETU-rapporten"
Använd upptill 20 timmar (alt. tre tågresor) för att analysera innehållet i ETU-rapporten. Dokumentera översiktligt:

1) Förslag på ändringar som måste riktas till SV
2) Förslag på ändringar som kan utföras av Bouvet inkl. uppskattade tidsestimat

Bifogar den klassificering vi har gjort av de anmärkningar som ETU lämnar.

[ETU_åtgärdsplan.xlsx](https://github.com/malmostad/sitevision_assets/files/

[2018-02-02 12:53] olajoh1 commented on #272
Om du fixar så ja/nej-statistiken inkl rubrik och url så är vi nog i mål.

[2018-02-02 13:31] olajoh1 opened #389 "Analys av resultat från Google PageSpeed"
Analysera och föreslå åtgärder (inkl tidsestimat i de fall Bouvet kan åtgärda)för de optimeringsförslag Google PageSpeed genererar för malmo.se för följande sidor:

malmo.se (74/62)
/kultur-fritid/idrott-fritid.hmtl (74/66)
/initivativet (56/73)
/Stadsplanering--trafik/Lamna-synpunkter-pa-stadsmiljon.html (78/55)
/Hitta-och-jamfor/Grundskolor/Hitta-och-jamfor-grundskolor.html (80/79)

I de fall de

[2018-02-05 07:04] badwiz commented on #387
Håller på med detta 👍

[2018-02-05 08:14] perber14 commented on #354
OK! Prodsätt.

[2018-02-05 08:24] perber14 commented on #384
Topp! Prodsätt, tack!

[2018-02-05 09:08] henrikekelof commented on #272
@olajoh1 Jag har lagt till en nedladdningsknapp nu även på Ja/Nej, kika på den:
https://www.test.malmo.se/4.df5bd2416127d1353a221b2.html

[2018-02-05 09:19] olajoh1 commented on #272
ok, redo för lansering

[2018-02-05 09:22] henrikekelof commented on #272
👍

Jag fixar idag eller i morgon och kommenterar här när det är gjort.

[2018-02-06 08:57] israelsson commented on #384
Fixat!

[2018-02-06 09:04] israelsson commented on #354
Fixat!

[2018-02-06 09:09] badwiz commented on #375
Nu är detta fixat och indexet är uppdaterat med nya värden! Ping @olajoh1

[2018-02-06 10:26] henrikekelof commented on #272
Nu finns synpunktshanteringen i produktion. För er att göra:
- Lägg till epostadress för "Mottagare av synpunkt på sidan (global)" på huset
- Lägg till önskade kontakter för "Mottagare av synpunkt på sidan (sidspecifik)" på undersidor
- Aktivera synpunktsformuläret med "Visa synpunktsformulär" på sidor där ni vill visa det

Sammanställningar kommer ni kunna se här:
http://malmo.se/4.5e3289201615f9

[2018-02-06 11:37] badwiz commented on #383
Det finns stöd för detta i publika API:et. En snabb uppskattning hamnar på någonstans mellan 3-4 timmar att ta fram detta skript.

[2018-02-06 11:56] olajoh1 commented on #272
Tack!

[2018-02-06 11:56] #272 closed

[2018-02-06 12:41] badwiz commented on #383
Ping @Emmlin4

[2018-02-06 13:15] badwiz opened #390 "Byta ut 404-sidan mot en enklare sida"
Det  finns problem i mallen som gör att varje gång en besökare kommer till 404-sidan så rasslar det till med en massa felmeddelanden i loggen. Detta beror på SiteVisions 404-funktion tillsammans med funktionen för Fakta och Läs mer som hanteras genom metadata på sidor.

Funktionen fungerar bra att lämna helt tom på alla andra sidor men inte på 404-sidan när man redirectas dit genom SVs inbyggda fu

[2018-02-06 13:27] badwiz commented on #387
Har lagt ca 5h på detta och ser ingen nytta med att lägga fler timmar. Många problem ligger i headern som behöver åtgärdas. Bifogar fil med kommentarer och förslag på åtgärder.
[Förändringar WCAG.xlsx](https://github.com/malmostad/sitevision_assets/files/1699178/Forandringar.WCAG.xlsx)

[2018-02-06 13:42] olajoh1 commented on #387
Perfa. Vi kollar och återkommer.

[2018-02-06 14:30] olajoh1 opened #391 "Bildlänk utan 'alt'-text | En href som saknar title-tagg"
Bildlänk   utan 'alt'-text | En href som saknar title-tagg | Fixa big-banner skriptmodul som   håller information om Påverkansytan. Detta är till hälften löst, men den ena   href:en saknar title. Mallen Startsida som detta gäller | 30 min för att fixa denna. SV   hanterar inte title för länkade bilder.

[2018-02-06 14:32] olajoh1 opened #392 "Formulärelementen har inte grupperats"
Formulärelementen   har inte grupperats | Saknar fieldset på ett formulär | Fixas i Synpunkts-modulen | Bouvet åtgärdar.
-- | -- | -- | --

@badwiz Något estimat eller du bara fixar?

[2018-02-06 15:38] magnivar commented on #366
@fredrikwittbjer hade nåt att tillägga

[2018-02-07 07:04] badwiz commented on #392
Lägger 0,5 - 1 h på fix. Ping @henrikekelof

[2018-02-07 07:18] olajoh1 commented on #392
ok

[2018-02-07 07:56] henrikekelof commented on #392
Jag har testat och kollat på den här nu. Problemet rörde den gamla lösningen för synpunktshantering som jag tog bort igår, där det var radioknappar som inte var grupperade. Min nya lösning använder inte radioknappar och behöver därför inte grupperas med ett fieldset, så den nya synpunktshanteringen är inte berörd av det här felet. Felen kommer att försvinna av sig självt i Siteimprove nu när formu

[2018-02-07 10:28] fredrikwittbjer commented on #366
Ja, precis så! Nu när jag har haft möjlighet att använda dekorationen på en sida med många frågor och svar  såg det ut som följer:

![image](https://user-images.githubusercontent.com/31471269/35910509-0d50630c-0bf7-11e8-8e6f-e9de1f4a2d40.png)

Dessutom hade jag också en fundering kring muspekaren, det är svårt att förstå att dragspelet är klickbart när det kommer upp en markeringssymbol (kommer in

[2018-02-07 10:29] henrikekelof commented on #366
@fredrikwittbjer Har du möjlighet att lägga en länk till den sidan?

[2018-02-07 10:30] fredrikwittbjer commented on #366
https://komin.malmo.se/4.95dba5115e8f5b3c5eefa51.html @henrikekelof

[2018-02-07 10:30] henrikekelof commented on #366
Tackar! Kollar på den i eftermiddag.

[2018-02-07 13:02] henrikekelof commented on #366
Hej @fredrikwittbjer ! Jag kan inte återskapa det felet. Vad är du i för webbläsare? Du har inte zoomat in eller ut (testa CTRL + 0)?

[2018-02-07 14:34] fredrikwittbjer commented on #366
Hej @henrikekelof ! "Ramroblemet" verkar uppkomma när jag använder Chrome, men funkar på IE och Edge.

Vad gäller "muspekarproblemet" gäller det för alla webbläsare.

[2018-02-07 14:34] fredrikwittbjer commented on #366
@henrikekelof nu funkade det dock när jag zoomade ut! Skönt!

[2018-02-07 14:40] henrikekelof commented on #366
Härligt :)

Du har fått en hand som muspekare nu också.

[2018-02-07 15:06] Svempan commented on #366
Där är en liten men irriterande pixel i innehållsytan när den är markerad. @henrikekelof
![pixel](https://user-images.githubusercontent.com/7701048/35923543-d710f714-0c20-11e8-9a6c-650f9b66b833.png)

[2018-02-07 15:24] henrikekelof commented on #366
@Svempan - Testa att sätta lite padding på en vanlig textmodul så kommer du se den där också. Jag vet inte exakt var den kommer ifrån, men den är inte specifik för den här funktionen. Vill ni att vi undersöker den saken så är det bra om ni skapar en egen issue för den, men jag är halvskeptisk till att vi kan göra något åt den. Den andra bilden är från Falkenbergs kommun, och dom har exakt samma sa

[2018-02-08 14:49] perber14 commented on #366
Mer diskussion om några sista detaljer behövs mellan @fredrikwittbjer, @Svempan & @elilun14.

[2018-02-08 14:58] fredrikwittbjer commented on #366
Ja, precis så! Först och främst undrar vi ifall vi kan indexera dekorationen som en H4:a? @henrikekelof

[2018-02-08 15:02] henrikekelof commented on #366
@fredrikwittbjer Ja, det är inga problem. Kommer det fler önskemål eller var det bara det?

[2018-02-08 15:02] Svempan commented on #366
Vi vill att dragspelet på Komin är identiskt med malmo.se. Dvs samma linjer och gråa nyans i bakgrunden. Rubriken ska inte trunkera utan få den plats den behöver.
https://www.test.malmo.se/4.719e72ae160e0f98c258aeea.html @elilun14
Fråga: kan vi tagga rubriken som en H4? @henrikekelof

[2018-02-08 15:04] henrikekelof commented on #366
👆

Beroende på skillnad i style kan det behöva justeras lite i CSS, men det är lätt ordnat.

[2018-02-08 15:08] Svempan commented on #366
Toppen! Då kör vi på det och kör ut allt i prod @henrikekelof

[2018-02-08 15:09] henrikekelof commented on #366
Yes, jag tar det i morgon och meddelar här när det är klart.

[2018-02-08 15:19] Svempan commented on #379
Klar för prod :-)

[2018-02-09 07:32] #354 closed

[2018-02-09 09:57] henrikekelof commented on #379
Nu finns den här i produktion. Testsida: http://malmo.se/4.693435e1616fea8abd180f1.html

[2018-02-09 09:58] henrikekelof commented on #366
Denna finns nu i produktion med samma utseende som malmo.se, fast med H4 istället för H2. Testsida:  https://komin.malmo.se/4.132262a160fdc3380f9bd69.html

[2018-02-09 10:22] perber14 commented on #379
Rubriken på boxen ska tjäna som H4 på malmo.se, inte H2 som den nu är!

[2018-02-09 10:29] henrikekelof commented on #379
OK. Fixat!

[2018-02-09 10:39] perber14 commented on #379
Topp! Då stänger vi den här nu (och så får vi se om det håller...).

[2018-02-09 10:39] #379 closed, assigned to Svempan, perber14

[2018-02-09 15:06] magnivar commented on #383
OK på tiden att ta fram skriptet.

Ett till beroende dök upp:
Denna sida: http://kartor.malmo.se/rest/leaf/1.0/?zoom=12&center=13,55.58&ol=adress,kommunal_forskola,ickekom_forskola&bl=stadskartan&config=../configs-1.0/malmo_atlas.js
hänvisar till gamla adresser för alla skolor.
Går det att göra en rewrite som hanterar förfrågningar på den blivande gamla sida till den nya eller kommer SiteVision ha

[2018-02-09 15:07] magnivar commented on #390
Ja, det verkar som en lösning. Kör på det.

[2018-02-12 14:13] olajoh1 commented on #375
Ser ingen skillnad efter sista ändringen. VI går vidare ändå. Nedan kan du se hur Siteseeker viktar de parametrar de arbetar med. Vi eftersträvar att få till något liknande.

Fundera på vad ni tror är möjligt. De parametrar som har högst värde är förstås viktigast att "få till".

![image](https://user-images.githubusercontent.com/6176181/36100478-b0fcd126-1006-11e8-9ae9-bc9f3dd75e85.png)

[2018-02-13 08:06] israelsson commented on #383
Nu har jag tagit fram ett skript på testservern och provat det lite grann. Vi borde prova att köra det i testmiljön först och se så att allt verkar och ser korrekt ut efter namnbytet.

Vill ni att jag kör skriptet på testservern?

[2018-02-13 13:34] israelsson commented on #390
Har fixat detta nu på prod. Fixade en mall som ser likadan ut som mallen "Normalsida" men rensade bort det som inte behövs för 404-sidan.

[2018-02-13 15:55] badwiz commented on #390
En koll i loggen visar att problemet inte finns längre :)

[2018-02-14 10:25] magnivar commented on #390
Toppen då stänger vi

[2018-02-14 10:25] #390 closed, assigned to magnivar

[2018-02-14 10:47] badwiz commented on #371
Kommentar från SVAB är att vi inaktiverar interna katalogen för att få bort minnesrelaterade buggen, SV-22869. Det är två användare som måste slyttas till ordinarie AD. @magnivar beställer dessa.

[2018-02-14 13:53] badwiz commented on #389
Jag har kikat lite på vad det är som gör att resultat blir lågt. Mycket hänger ihop med att resurser inte blir gzippade på server. Assets som länkas in blir inte det. Hade js-filer och css:er legat i SiteVisoin blir dessa automagiskt gzippade. Dessa kommer att hamna där om/när vi gör om mallhanteringen.

Bilder, alla bilder överhuvudtaget, kan man komprimera ren upplösning och se till att ingen ex

[2018-02-14 14:10] badwiz commented on #389
När mallarna blir SiteVision-mallar helt och hållet kan man försöka att flytta så mycket av alla js-filer från HEAD till body. Då blockerar man inte rendreringen genom inläsning av filer tidigt i anropen heller. Detta är också en bidragande del till lägre poäng, men vissa inlänkningar i HEAD kommer man inte ifrån med SiteVision.

[2018-02-15 15:35] badwiz commented on #388
Håller på med denna! ping @olajoh1

[2018-02-20 09:03] badwiz commented on #374
Nu är testserverns robots.txt uppdaterad med att inte tillåta indexering.

[2018-02-20 09:12] badwiz commented on #388
Har gjort en genomgång av alla punkterna i rapporten. Finns strukturerade i detta Excelark. Inte mycket att göra om vi inte vill göra om i assets för Sidhuvud, Sidfot och Sök. Större förändring gällande Rubriknivåer och tydligheten i länkar finns det utrymme för.

[Bouvet kommentarer ETU-rapport.xlsx](https://github.com/malmostad/sitevision_assets/files/1739471/Bouvet.kommentarer.ETU-rapport.xlsx)

[2018-02-20 10:04] perber14 commented on #374
Känner inte att denna är min, så herrar @magnivar och @olajoh1. Ni tar denna. :)

[2018-02-20 10:48] Svempan opened #393 "Bildnyheter visas fel i redigeringsläge"
Bildnyheterna i "bildvisningssmodulen" vissas inte korrekt i redigeringsläget i Sitevision. Felet uppstod för någon vecka sedan.
![sitevision](https://user-images.githubusercontent.com/7701048/36419965-c36d5e88-1633-11e8-87f6-14fa11ecefb0.png)

[2018-02-20 11:39] olajoh1 commented on #374
@magnivar DUNS :-)

[2018-02-20 11:43] olajoh1 commented on #388
Grym sammanställning @badwiz . Vi återkommer med beställningar.

[2018-02-20 12:10] magnivar commented on #374
Bra! Vad tycker ni? Skall vi öppna brandväggen så man kommer åt test utifrån igen? @perber14 @olajoh1

[2018-02-20 12:11] perber14 commented on #374
Ja, det tycker jag väl att vi kan göra. Har vi någon anledning att inte göra det?

[2018-02-20 12:13] magnivar commented on #374
Ja, det skulle väl vara att ingen utomstående har anledning att besöka test... men det hade underlättat för våra utvecklare att slippa gå via VPN om vi öppnar brandväggen.

[2018-02-21 07:52] olajoh1 commented on #374
ja

[2018-02-21 09:43] badwiz commented on #393
Felet beror på att vi gjorde om lösningen lite för att få med alt-texter på bilderna. Vi undersöker vad som enkelt kan göras för att visningen i redigeringsläget ska återspegla online-läget.

[2018-02-21 14:27] magnivar commented on #378
Klart med bug i redaktörsläget som inte visar bilderna korrekt

[2018-02-21 14:27] #378 closed, assigned to Svempan

[2018-02-21 14:50] magnivar commented on #366
Detta är klart :)

[2018-02-21 14:50] #366 closed, assigned to Svempan, elilun14, fredrikwittbjer

[2018-02-21 15:02] magnivar commented on #374
Nej, vi öppnar inte :)

[2018-02-21 15:02] #374 closed, assigned to olajoh1, magnivar

[2018-02-21 15:04] magnivar commented on #368
Inte görbart så länge vi importerar WAG externt

[2018-02-21 15:04] #368 closed, assigned to olajoh1

[2018-02-21 15:05] magnivar commented on #327
Löst så som föreslagits!

[2018-02-21 15:05] #327 closed

[2018-02-21 15:24] #384 closed, assigned to perber14, magnivar

[2018-02-21 15:24] #363 closed

[2018-02-22 10:02] #392 closed, assigned to olajoh1

[2018-02-22 10:15] olajoh1 commented on #367
ok

[2018-02-22 10:15] #367 closed, assigned to olajoh1, magnivar